:host{
	display: flex;
	align-items: center;
	width: 100%;
	height: fit-content;
}
.wrapper-main-image{
	height: 40px;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	& img{
		width: 35px;
	}
}
img{
	max-height: 100%;
	max-width: 100%;
}
