.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
img {
  user-drag: none;// Safari/Chrome
  -webkit-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
  user-select: none;   
  //pointer-events: none;
}