:host{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.wrapper-main{
	display: flex;
	align-items: start;
	justify-content: center;
	width: 100%;
	gap: 50px;
	height: fit-content;
}
.production-card{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 150px;
	padding: 15px;
}
.megacredit-card{
	flex-direction: column;
	gap: 15px;
}
img{
	width: 60px;
	aspect-ratio: 1;
}
.production{
	display: block;
	font-size: 175%;
	font-weight: 600;
	padding: 0;
	margin: 0;
}
.wrapper-top-part{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 150px;
}
.wrapper-bottom-part{
	display: flex;
	justify-content: center;
	gap: 10px;
	width: 150px;
}
.wrapper-subcard{
	display: flex;
	align-items: center;
	gap: 3px;
	& > p {
		font-size: 100%;
	}
	& > img{
		width: 20px;
	}
}
