<div class="wrapper-production-phase">
    <ul>you gained :
        <li>{{clientPlayerState.getRessourceInfoFromId(0)?.valueProd! + clientPlayerState.getTR()}} megacredits ({{clientPlayerState.getRessourceInfoFromId(0)?.valueProd!}} from production and {{clientPlayerState.getTR()}} from TR)</li>
        <li>{{clientPlayerState.getRessourceInfoFromId(1)?.valueProd!}} heat</li>
        <li>{{clientPlayerState.getRessourceInfoFromId(2)?.valueProd!}} plants</li>
        <li>{{clientPlayerState.getRessourceInfoFromId(5)?.valueProd!}} cards</li>
    </ul>
</div>
<h1 *ngIf="_productionCardList.length>0">New cards:</h1>
<app-playable-card-list [cardList]="_productionCardList"></app-playable-card-list>
