:host{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	gap: 50px;
}
.wrapper-main{
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 30px;
}
.wrapper-player{
	display: flex;
	gap: 10px;
	width: 100%;
	height: auto;
}
img{
	height: 35px;
	aspect-ratio: 1;
}
h1{
	font-size: 30px;
	width: 60%;
	text-align: center;
	padding: 10px;
}
.wrapper-corporation-selection{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
