<div class="wrapper-main">
	<div class="wrapper-group-ready ares-background ares-border">
		<ng-container *ngFor="let p of _groupInfo">
			<div class="wrapper-player">
				<app-player-name [name]="p.getName()" [color]="p.getColor()" [isReady]="isReady(p.getName())" [style]="'short'"></app-player-name>
			</div>
		</ng-container>
	</div>
	<div class="wrapper-corporation-selection"
		*ngIf="_waitingCorporationList.length>0">
		<h1 class="ares-title">Then select a corporation:</h1>
		<app-playable-card-list [cardList]="_waitingCorporationList"></app-playable-card-list>
	</div>
</div>
