.ares-card {
    background: rgba(rgb(0, 0, 0), .05);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .2);

    p {
      	color: black;
    }
}

.ares-border {
	border-radius: 5px;
	border: rgba(255, 255, 255, 0.498) solid 2px;
	box-shadow: 0px 0px 10px 2px #ffffff;
}
