$ares-red: rgb(253, 79, 36);
$ares-blue: rgb(100, 167, 255);
$ares-green: rgb(0, 185, 46);

$card-height: 300px;
$card-width: 200px;

$colors: (
  "red": $ares-red,
  "blue": $ares-blue,
  "green": $ares-green
);
$dark-colors: (
    "red": darken($ares-red, 15%),
    "blue": darken($ares-blue, 15%),
    "green": darken($ares-green, 15%)
);
$light-colors: (
    "red": lighten($ares-red, 25%),
    "blue": lighten($ares-blue, 15%),
    "green": lighten($ares-green, 50%)
);
$card-back-colors: (
    "red": rgba(150, 40, 60, 0.301),
    "blue": rgba(0, 60, 150, 0.301),
    "green": rgba(40, 150, 40, 0.301)
);
.wrapper-card{
    z-index: 0;
    position: relative;
    height: $card-height;
    width: $card-width;
    
    
    border: black solid 1px;
    border-radius: 15px;

    &:hover{
        border: gold 1px solid;
    }
    @each $color-name, $color-value in $card-back-colors {
        &.#{$color-name}Project {
            background: $color-value;
        }
    }
}
.wrapper-card-grid{
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 0.2fr 2fr 1fr 1fr;

    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;

}
.grid-box-cost{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.wrapper-cost{
    position: relative;
    height: 100%;
    width: 100%;    
    
    &.cost-mod{
        z-index: 3;
        top: -15px;
        filter: grayscale(20%);
        opacity: 80%;
        & img{
            width: 50%;
        }
    }
}
.wrapper-cost--image {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    
    & img{
        width: 70%;
        aspect-ratio: 1;
    }
}
.wrapper-cost--value {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-box-title{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    
    display: flex;
    justify-content: center;
    align-items: center;
    > p {
        color: white;
        font-weight: bold;
        font-size: 15px;
        font-style: italic;

        text-shadow:
          -0.5px -0.5px 0 #000,  
           0.5px -0.5px 0 #000,
          -0.5px  0.5px 0 #000,
           0.5px  0.5px 0 #000;  
    }
}
.grid-box-tag{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    padding-top: 10px;
}
.grid-box-summary{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
.grid-box-vp{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 7px;
}
.grid-box-description{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;

    margin-left: 3px;
    margin-right: 5px;
    padding: 3px;

    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.671) inset;
        -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.671) inset;
        -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.671) inset;
}
.wrapper-tag{
    padding-top: 20%;
    width: 100%;
    height: 21%;
}
.tag-zone {
    position: relative;
    z-index: 1; /* Ensure .tag-zone is above .tag-zone-mask */
    -webkit-clip-path: polygon(0 0, 99% 75%, 82% 100%, 52% 100%, 0 57%);
    clip-path: polygon(0% 0%, 95% 70%, 70% 100%, 32% 100%, 0 77%);
    top: 0;
    width: 45px;
    height: 50px;


    @each $color-name, $color-value in $colors {
        &.#{$color-name}Project {
            background: $color-value;
        }
    }
}
.tag-zone-mask {
    z-index: 1;
    position: relative;
    -webkit-mask-image: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(29,28,59,0) 10%, rgba(208,208,208,0) 90%, rgba(255,255,255,1) 100%);
    mask-image: radial-gradient(circle, rgb(255, 255, 255) 20%, rgba(0, 0, 0, 0.8) 80%);
}
.tag-icon {
    z-index: 3; /* Ensure .tag-icon is above .tag-zone-mask and .tag-zone */
    position: relative;
    top: -35px;
    left: 7px;
    padding: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: grey;

    @each $color-name, $color-value in $dark-colors {
        &.#{$color-name}Project {
            background: $color-value;
        }
    }

}
.victory-point-icon{
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    
    
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(0deg, rgba(66,45,23,1) 0%, rgba(143,92,63,1) 40%, rgba(255,239,213,1) 100%);
    & p{
        font-size: 20px;
        font-weight: bold;       
    }
}
.wrapper-left-layout{
    top: -100%;
    position: relative;
}
.left-layout{
    z-index: 0;
    position: relative;

    height: $card-height * .74;
    width: 14%;
    border-top-left-radius: 15px;
    overflow: hidden;

    -webkit-clip-path: polygon(100% 0, 100% 65%, 54% 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 27%, 90% 28.5%, 90% 94%, 70% 97%, 20% 97%, 0 100%);

    border-top: 0;
    border-left: 0;  

    @each $color-name, $color-value in $dark-colors {
        &.#{$color-name}Project {
            background: $color-value;
        }
    }

    &:after{
        content: "";
        position: absolute;
        top: -100%;
        left: -250%;
        width: 500px;
        height: 500px;
        background: 
        linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%),
        linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%),
        linear-gradient(225deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%),
        linear-gradient(315deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%);
        background-size: 3px 3px; // Taille du dégradé
        background-repeat: repeat; // Répétition du dégradé
        pointer-events: none; // Assure que le pseudo-élément ne soit pas cliquable
        transform: rotate(0deg);
    }
}
.top-left-layout{
    z-index: 0;
    position: absolute;

    top: 0;
    height: 60px;
    width: 50px;
    border-top-left-radius: 15px;


    -webkit-clip-path: polygon(100% 0, 100% 65%, 54% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 95% 9%, 90% 9%, 90% 14%, 84% 14%, 84% 38%, 69% 50%, 25% 50%, 0% 33%, 0 0);

    border-top: 0;
    border-left: 0;  

    @each $color-name, $color-value in $colors {
        &.#{$color-name}Project {
            background: $color-value;
        }
    }
}
.wrapper-summary{
    position: relative;
    width: 100%;
    height: 100%;
}
.summary-background{
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;

    border: black 3px solid;
    background: rgba(100,100,100,.5);
    clip-path: polygon(10% 0, 95% 0, 100% 5%, 100% 30%, 98% 33%, 98% 67%, 100% 70%, 100% 95%, 95% 100%, 0 100%, 0 10%);
}
.summary-background-production{
    background: repeating-linear-gradient(-45deg, lighten($ares-red, 10%),orange 10%, $ares-red 20%);
    background-size: 30px 20px;
}
.summary-background-grey-production{
    background: repeating-linear-gradient(-45deg, rgb(184, 184, 184), rgb(184, 184, 184) 12%, rgb(66, 66, 66) 20%);
    background-size: 30px 20px;
}
.summary-background-action{
    background: linear-gradient(
        0deg,           /* Angle du dégradé : 90 degrés pour une orientation horizontale */
        transparent,     /* Transparent au début */
        darken($ares-blue, 20%) 50%,        /* Bleu au centre */
        transparent      /* Transparent à la fin */
    );
}
.summary-background-trigger{
    background: linear-gradient(
        0deg,           /* Angle du dégradé : 90 degrés pour une orientation horizontale */
        transparent,     /* Transparent au début */
        purple 50%,        /* Bleu au centre */
        transparent      /* Transparent à la fin */
    );
}
.summary-description{
    z-index: 3;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
