<div class="wrapper-card">
    <div>
        <div>
            <p>cost</p>
        </div>
        <div>
            <p>mod cost</p>
        </div>
    </div>
    <ul>
        <li>badge 1</li>
        <li>badge 2</li>
        <li>badge 2</li>
    </ul>
    <p>titre</p>
    <p>description</p>
    <p>vp</p>
    <p>production recap</p>
    <div class="wrapper-tag">
        <div class="tag-zone red-card">

        </div>
        <div class="tag-icon red-card">
            <img src="/assets/tag/science.png" alt="ressourceCard.description">
        </div>
     </div>
     <div class="wrapper-tag">
        <div class="tag-zone blue-card">

        </div>
        <div class="tag-icon blue-card">
            <img src="/assets/tag/event.png" alt="ressourceCard.description">
        </div>
     </div>
     <div class="wrapper-tag">
        <div class="tag-zone green-card">

        </div>
        <div class="tag-icon green-card">
            
        </div>
     </div>
</div>