:host{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;

}
.main{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	z-index: 1;
	width: 100%;
	height: 80%;
}
.menu{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 70%;
	width: 30%;
}
.wrapper-button{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 50%;
	width: 80%;
	gap: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
}
app-non-event-button{
	height: 32%;
	&::ng-deep button {
		font-size: 150%;
	}
}
app-hexed-background{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

p{
	color: white;
}
h1{
	padding: .5%;
	padding-left: 20%;
	padding-right: 20%;
	font-size: 300%;
	color: white;
	text-align: center;
}
