:host{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.main{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.wrapper-menu{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: fit-content;
	min-height: 650px;
	width: 80%;
}
.menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	height: 60%;
	width: fit-content;
	padding: 40px;
}
.wrapper-button{
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 70px;
	width: 350px;
}
app-non-event-button{
	display: flex;
	width: fit-content;
	flex-grow: 1;
	&::ng-deep button {
		font-size: 150%;
	}
}
app-hexed-background{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

p{
	color: white;
	text-align: right;
	font-size: 1.1em;
	text-decoration: underline;
}
h1{
	padding: .5%;
	padding-left: 20%;
	padding-right: 20%;
	font-size: 200%;
	color: white;
	text-align: center;
	margin-top: 3%;
}
.wrapper-bottom{
	width: 98%;
	display: flex;
	justify-content: space-between;
	height: fit-content;
	margin: 10px;
}
