<div class="wrapper-list">
	<div class="list-mask">
		<div [class]="'background--'+background"></div>
	</div>
	<div class="wrapper-cards"
		[ngClass]="listType">
		<app-playable-card #projectCardComponent *ngFor="let card of _displayedCards"
			[stateFromParent]="_cardSelector.stateFromParent"
			[projectCard]="card"
			[initialState]="_cardSelector.cardInitialState"
			[buildDiscount]="_buildDiscount"
			[parentListType]="listType"
			[parentListSubType]="listSubType"
			[filter]="_cardSelector.filter"
			[activableTwice]="_activateTwiceRemaining>0"
			[cardSize]="_cardSize"
			(cardStateChange)="cardStateChange($event)"
			(cardActivated)="onProjectActivated($event)"></app-playable-card>
	</div>
</div>
