:host{
	height: 100%;
	width: 100%;
	display: flex;
}
.wrapper-main{
	display: flex;
	width: 50%;
	flex-grow: 1;
	gap: 1.5%;
	margin-bottom: 2%;
	margin-left: 3%;
}
.wrapper-button{
	height: 100%;
	aspect-ratio: 1;
}
