:host{
	height: 100%;
	width: 100%;
	display: flex;
	display: flex;
	width: 50%;
	height: 50px;
	gap: 10px;
	margin-bottom: 2%;
	margin-left: 3%;
}
.wrapper-button{
	height: 100%;
	aspect-ratio: 1;
}
