:host{
	height: 100%;
	width: 300px;
	display: flex;
	display: flex;
	//width: 50%;
	height: 50px;
	gap: 10px;
	//margin-bottom: 2%;
	//margin-left: 3%;
}
.wrapper-button{
	height: 80%;
	aspect-ratio: 1;
}
