//$player-color: ('blue', 'red', 'green', 'yellow', 'purple', 'orange', 'white');
@use '../../../../styles/abstracts/colors' as colors;
:host{
	display: flex;
	justify-content: center;
}
.wrapper-main{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5%;
	width: fit-content;
	border: rgba(0, 0, 0, .3) solid 1px;
	box-shadow: 0 0 2px 0px rgb(0, 0, 0);
	border-radius: 5px;
	padding: 7px;
	padding-left: 10px;
	margin: 5px;
	&.disabled{
		filter: grayscale(100%);
		pointer-events: none;
		opacity: 30%;
	}
}
.wrapper-name{
	display: flex;
	gap: 5%;
}
input{
	background: transparent;
	border: 0;
	padding: 10px;
	padding-left: 5px;
	margin-left: 10px;
	border-bottom: var(--color-ares-orange) solid 3px;
	&:focus{
		outline: none;
	}
}
.border{
	@each $name, $value in colors.$colors{
		&--#{$name}{
			border-color: $value;
			box-shadow: 0 0 3px 0px rgba($value, 1);
		}
	}
	@each $name, $value in colors.$player-background-colors{
		&--#{$name}{
			background-color: rgba($value, .3);
		}
	}
}
