.ressource-card{
    border: black solid 1px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 20%) ;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;

    height: 70px;
    width: 70px;
    padding: 5px;
}
.box-one {
    grid-template-columns: 1/2;
    grid-template-rows: 1/2;
}
.box-two {
    grid-template-columns: 2/3;
    grid-template-rows: 1/2;
}
.box-three {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-rows: 1/3;
}
.wrapper-ressource {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.box-ressource-icon{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.box-ressource-mod{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    div {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
