$production-border: 2px;
$wrapper-ressource: (
	"stock",
	"production"
);
$brackground-production: (
	"red",
	"blue",
	"grey"
);
:host{
	$horizontal-padding: 0%;
    display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1px;
	margin-left: $horizontal-padding;
	margin-right: $horizontal-padding;

    height: 100%;
    aspect-ratio: 2
}
.text-default{
	color: black;
	margin: 0px;
	background-color: rgba(255,255,255, 0.3);
	font-weight: 600;
	padding: 0;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 85%;
	border-radius: 25%;
	width: fit-content;
	height: fit-content;
}
.text-production-symbol{
	color:var(--color-ares-orange);
	font-size: 55%;
}
.text-production{
	color: var(--color-ares-orange);
	font-size: 95%;
	font-weight: 300;
}
.wrapper-text-production{
	flex-grow: 1;
	display: flex;
	align-items: center;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.wrapper-ressource {
	@each $name in $wrapper-ressource {
		&--#{$name} {
			position: relative;
			aspect-ratio: 1;
			height: 95%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
	  }
}
.box-ressource-icon{
    position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
	aspect-ratio: 1;
}
.box-stock{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 100%;
	height: 100%;
}
.wrapper-ressource-mod{
	$offset: 0%;
	$size: 50%;
	position: absolute;
	width: $size;
	aspect-ratio: 1;
	top: - $offset;
	left: calc($size + $offset);
	display: flex;
	justify-content: center;
	p{
		font-size: 90%;
	}
	.box-ressource-mod-icon{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.box-ressource-mod-value{
		position: relative;
		z-index: 10;
		height: 100%;
		font-size: 80%;
	}
}
.box-production{
	height: 15%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.background-production{
	@each $name in $brackground-production{
		&--#{$name}{
			border-radius: 2px;
			background-size: 10px 80px;
		}
	}
}

