:host{
	position: relative;
    display: inline-flex;
    flex-direction: column;
	align-items: center;

    height: 100%;
    width: fit-content;
	overflow: hidden;
}p{
	color: black;
	margin: 0px;
	background-color: rgba(255,255,255, 0.6);
	font-weight: 600;
	padding: 0;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 25%;
}
img {
    width: 100%;
	aspect-ratio: 1;
}
.wrapper-tag {
	display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
	aspect-ratio: 1;
}
.box-tag-icon{
	position: absolute;
	top: 0;

    z-index: 1;
    width: 100%;
    aspect-ratio: 1;
}
.box-tag-mod{
    z-index: 2;
    display: grid;
    div {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
.wrapper-tag-text {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
    display: flex;
    justify-content: center;
	align-items: end;
	width: 100%;
	height: 100%;
	p{
		top: 50%;
		//position: absolute;
		width: auto;
		height: auto;
	}
}
.text-background{
	height: fit-content;
	width: fit-content;
}
