img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
.tag-card{
    display: flex;
    flex-direction: column;

    height: 100%;
    aspect-ratio: .6;
}
.wrapper-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60%;
}
.wrapper-tag-icon{
    position: relative;
    z-index: 1;
    height: 90%;
    aspect-ratio: 1;
}
.box-tag-mod{
    z-index: 2;
    display: grid;
    div {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
.grey-tag{
    filter: grayscale(100%);
}
.wrapper-tag-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}