p{
	$shadow-color: rgba($color: white, $alpha: .4);
	$text-background-color: rgba($color: white, $alpha: .3);
	color: black;
	font-size: 90%;
	font-weight: 600;
	text-shadow: -1px 0 $shadow-color, 0 1px $shadow-color, 1px 0 $shadow-color, 0 -1px $shadow-color;
	background: radial-gradient($text-background-color 0%, $text-background-color 70%, rgba(0, 0, 0, 0) 25%);
}
img {
    width: 100%;
	aspect-ratio: 1;
}
.main{
	position: relative;
    display: flex;
    flex-direction: column;
	align-items: center;

    height: 100%;
    width: 100%;
	overflow: hidden;
}
.wrapper-tag {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
	aspect-ratio: 1;
}
.box-tag-icon{
	position: absolute;
	top: 0;

    z-index: 1;
    width: 100%;
    aspect-ratio: 1;
}
.box-tag-mod{
    z-index: 2;
    display: grid;
    div {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
.wrapper-tag-text {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
    display: flex;
    justify-content: center;
    //flex-grow: 1;
	width: 100%;
	height: 100%;
	p{
		top: 50%;
		position: absolute;
		width: auto;
		height: auto;
	}
}
