<div class="tag-card ares-card">
    <div class="box-one wrapper-tag">
        <div class="box-tag-icon">
            <img [ngClass]="{'grey-tag': tagState.valueCount===0}" [src]="imageUrl" [alt]="tagState.name">
        </div>
        <div *ngIf="tagState.valueMod" class="box-tag-mod">
            <div class="box-tag-mod-icon center">
                <img src="imageUrl" alt="tagState.name">
            </div>
            <div class="box-tag-mod-value">
                <p class="center">{{tagState.valueMod}}</p>
            </div>

        </div>
    </div>
    <div class="box-two">
        <p class="center">{{tagState.valueCount}}</p>
    </div>
</div>