<div class="tag-card">
    <div class="box-one wrapper-tag">
        <div class="box-tag-icon">
            <img [ngClass]="{'grey-tag': tagCard.valueCount===0}" [src]="tagCard.imageUrl" [alt]="tagCard.description">
        </div>
        <div *ngIf="tagCard.valueMod" class="box-tag-mod">
            <div class="box-tag-mod-icon center">
                <img src="/assets/ressource/megacreditvoid.png" alt="tagCard.description">
            </div>
            <div class="box-tag-mod-value">
                <p class="center">{{tagCard.valueMod}}</p>
            </div>

        </div>
    </div>
    <div class="box-two">
        <p class="center">{{tagCard.valueCount}}</p>
    </div>
</div>