:host{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	width: 100%;
}
.wrapper-main{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: auto;
	width: 90%;
	gap: 50px;
	margin-top: 50px;
	margin-bottom: 100px;
}
h1{
	padding: .5%;
	padding-left: 20%;
	padding-right: 20%;
	font-size: 200%;
	color: white;
	text-align: center;
}
app-project-card-list{
	height: fit-content;
	width: 80%;
}
app-hexed-background{
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
}
.wrapper-filter{
	display: flex;
	gap: 50px;
}
.wrapper-button{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	height: fit-content;
	width: fit-content;
	padding: 10px;
}
app-non-event-button{
	height: 50px;
	width: fit-content;
}
.disabled{
	filter: grayscale(90%);
	pointer-events: none;
}
