services:
  front:
    image: mylaana/ares-expedition-front:latest
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - back
    networks:
      - ares-network
    volumes:
      - ./config/front/config.json:/usr/share/nginx/html/assets/config/config.json
      - /home/ubuntu/letsencrypt-certs/fullchain.pem:/etc/ssl/certs/fullchain.pem:ro
      - /home/ubuntu/letsencrypt-certs/privkey.pem:/etc/ssl/private/privkey.pem:ro
      - ./nginx-log:/var/log/nginx
  back:
    image: mylaana/ares-expedition-back:latest
    env_file:
      - ./config/back/.env
    networks:
      - ares-network
    volumes:
      - ./data/database.json:/app/data/database.json
      - ./data/archives:/app/data/archives
    environment:
      - JAVA_TOOL_OPTIONS=-Xmx256m -Xms128m
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 400M

networks:
  ares-network:
    driver: bridge