<div class="hex hex1"><app-layout-hexagons></app-layout-hexagons></div>
<div class="hex hex2"><app-layout-hexagons></app-layout-hexagons></div>
<div class="hex hex3"><app-layout-hexagons></app-layout-hexagons></div>
<div class="hex hex4"><app-layout-hexagons></app-layout-hexagons></div>
<div class="hex hex5"><app-layout-hexagons></app-layout-hexagons></div>
<div class="hex hex6"><app-layout-hexagons></app-layout-hexagons></div>
<div class="hex hex7"><app-layout-hexagons></app-layout-hexagons></div>
<div class="hex hex8"><app-layout-hexagons></app-layout-hexagons></div>
<div class="hex hex9"><app-layout-hexagons></app-layout-hexagons></div>
<div class="hex hex10"><app-layout-hexagons></app-layout-hexagons></div>
<div class="hex hex11"><app-layout-hexagons></app-layout-hexagons></div>