:root {
	--card-width: 214px;
	--text-size: 11px;
	--card-element-padding: 5px;
	--card-text-right-padding: 5px;
	@media (max-width: 1919px) {
		--card-width: 150px;
		--text-size: 9px;
		--card-element-padding: 1px;
		--card-text-right-padding: 0px;
	}
	--card-height: calc(var(--card-width) * 88 / 63);
	--card-effect-height: calc(var(--card-height) * .26);

	--settings-button-size: 9%;
}
