:root {
	--text-size: 11px;

	--card-height: calc(var(--card-width) * 88 / 63);
	--settings-button-size: 80px;

	--card-width: 214px;
	--card-text-size: 11px;
	--card-element-padding--medium: 5px;
	--card-text-right-padding: 5px;

	--card-cost-square-padding: 6px;
	--card-cost-top-cost-padding: 15px;
	--card-cost-current-cost-text-size: 15px;
	--card-cost-not-current-cost-text-size: 11px;

	--card-effect-height: 75px;
	--card-effect-width: 75px;

	--card-played-symbol-size: 20px
}
