.wrapper-main{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	height: fit-content;
	padding: 0%;
	filter: grayscale(85%);
	&.current{
		filter: grayscale(0%);
	}
	&.upgradable{
		filter: grayscale(0%);
	}
}
.wrapper-phase-card{
	z-index: 1;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	width: var(--card-width);
	height: var(--card-height);
	border-radius: 15px;
	border: black solid 2px;
	overflow: hidden;
}
.background-color{
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.wrapper-content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	padding: 8px;
}
.wrapper-description{
	z-index: 1;
	position: relative;
	height: fit-content;
	width: var(--phase-card-description-width);
	padding: var(--phase-card-description-padding);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&::ng-deep p {
		text-align: center;
		display: block;
		font-size: var(--phase-card-description-font-size);
	}
}
.title{
	font-size: var(--phase-card-title-font-size);
	font-weight: 600;
	font-family: "Times New Roman", serif;
}
.subtitle{
	padding-bottom: 3px;
	font-size: var(--phase-card-subtitle-font-size);
	font-weight: 600;
}

app-hexed-background{
	z-index: 0;
}
.phase0{
	$side-gradient-size: 0%;
	$side-void-size: 0%;
	$middle-alpha: 1;
	background: linear-gradient(130deg,var(--color-ares-green-light3) 0%, var(--color-ares-green) 35%, var(--color-ares-green-dark5) 80%);
}
.phase1{
	$side-void-size: 0%;
	$middle-alpha: 1;
	$side-gradient-size: 0%;
	background: linear-gradient(90deg, var(--color-ares-blue-dark2) 0%, var(--color-ares-red-dark) 100%);
}
.phase2{
	background: linear-gradient(130deg,var(--color-ares-blue-light2) 0%, var(--color-ares-blue) 35%, var(--color-ares-blue-dark5) 80%);
}
.phase3{
	background: linear-gradient(130deg,var(--color-ares-orange-light2) 0%, var(--color-ares-orange) 35%, var(--color-ares-orange-dark5) 80%);
}
.phase4{
	background: linear-gradient(130deg,var(--color-ares-yellow-light2) 0%, var(--color-ares-yellow) 35%, var(--color-ares-yellow-dark5) 80%);
}
.wrapper-upgrade{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85%;
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	height: calc(var(--card-height) * .18);
	&.upgradable{
		height: calc(var(--card-height) * .04);
		margin-bottom: calc(var(--card-height) * .14);
	}
}
.wrapper-button{
	position: relative;
	height: 70%;
	width: 80%;
}
app-non-event-button{
	height: 50%;
}
.wrapper-title{
	width: 100%;
	height: fit-content;
	padding-top: var(--phase-card-wrapper-title-padding);
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width:1919px) {
		padding-top: 7px;
	}
}
