<div class="wrapper-main"
	[class.current]="isCurrentUpgrade()"
	[class.upgradable]="isUpgradeable()">
	<div class="wrapper-phase-card">
		<div class="wrapper-title">
			<h1 class="title">{{phaseCard.title}}</h1>
		</div>
		<div class="wrapper-content">
			<div class="wrapper-description ares-background ares-border">
				<h1 class="subtitle">Ability</h1>
				<app-text-with-image [rawText]="phaseCard.baseDescription"></app-text-with-image>
			</div>
			<div class="wrapper-description ares-background ares-border">
				<h1 class="subtitle">Bonus</h1>
				<app-text-with-image [rawText]="phaseCard.bonusDescription"></app-text-with-image>
			</div>
			<app-hexed-background [autoFillHexSize]="'medium'" ></app-hexed-background>
			<div class="background-color"
				[ngClass]="['phase' + phaseIndex, state.isUpgraded()===true? 'selected':'']">
			</div>
		</div>
	</div>

	<div class="wrapper-upgrade ares-border ares-background"
		*ngIf="!isCurrentUpgrade()"
		[class.upgradable]="isUpgradeable()===false">
		<div class="wrapper-button"
			*ngIf="isUpgradeable()">
			<app-non-event-button [shape]="'small'" [button]="_upgradeButton" (buttonClicked)="upgrade()"></app-non-event-button>
		</div>
	</div>
</div>
