<div class="wrapper-main"
	[class.current]="isCurrentUpgrade()"
	[class.upgradable]="isUpgradeable()"
	[class.display-only]="isDisplayOnly">
	<div [ngClass]="['wrapper-phase-card', cardSize]">
		<div [ngClass]="['wrapper-title', cardSize]">
			<h1 [ngClass]="['title', cardSize]">{{phaseCard.title}}</h1>
		</div>
		<div class="wrapper-content">
			<div [ngClass]="['wrapper-description', 'ares-background', 'ares-border', cardSize]">
				<h1 [ngClass]="['subtitle', cardSize]">{{getText('abilityTitle')}}</h1>
				<app-text-with-image [rawText]="getText('ability')"></app-text-with-image>
			</div>
			<div class="wrapper-description ares-background ares-border">
				<h1 class="subtitle">{{getText('bonusTitle')}}</h1>
				<app-text-with-image [rawText]="getText('bonus')"></app-text-with-image>
			</div>
			<app-hexed-background [autoFillHexSize]="'medium'" ></app-hexed-background>
			<div class="background-color"
				[ngClass]="['phase' + phaseIndex, state.isUpgraded()===true? 'selected':'']">
			</div>
		</div>
	</div>

	<div [ngClass]="['wrapper-upgrade', 'ares-border', 'ares-background', cardSize]"
		*ngIf="!isCurrentUpgrade() && upgradeFinished!=undefined"
		[class.upgradable]="isUpgradeable()===false">
		<div class="wrapper-button"
			*ngIf="isUpgradeable()">
			<app-non-event-button [shape]="'small'" [context]="'builderButton'" [cardSize]="cardSize" [button]="_upgradeButton" (buttonClicked)="upgrade()"></app-non-event-button>
		</div>
	</div>
</div>
