<div class="wrapper-main"
	[class.upgraded]="isCurrentUpgrade()">
	<div class="wrapper-phase-card">
		<div class="wrapper-description ares-background ares-border">
			<h5>Ability</h5>
			<app-text-with-image [rawText]="phaseCard.baseDescription"></app-text-with-image>
		</div>
		<div class="wrapper-description ares-background ares-border">
			<h5>Bonus</h5>
			<app-text-with-image [rawText]="phaseCard.bonusDescription"></app-text-with-image>
		</div>
		<app-hexed-background [column]="5" [row]="6" ></app-hexed-background>
		<div class="background-color"
			[ngClass]="['phase' + phaseIndex, state.isUpgraded()===true? 'selected':'']">
		</div>
	</div>

	<div class="wrapper-upgrade ares-border ares-background"
		[class.upgradable]="isUpgradeable()===false">
		<div class="wrapper-button"
			*ngIf="isUpgradeable()">
			<app-non-event-button [shape]="'small'" [button]="_upgradeButton" (buttonClicked)="upgrade()"></app-non-event-button>
		</div>
	</div>
</div>
