<app-card-builder-list
	[event]="event"
	(cardBuilderButtonClicked)="onEventCardBuilderListButtonClicked($event)"
	(alternativePayButtonClicked)="onAlternativePayButtonClicked($event)">
</app-card-builder-list>
<app-playable-card-list
	#cardListSelector
	[event]="event"
	[listType]="'builderSelector'"
	[currentPhase]="currentPhase"
	(updateSelectedCardList)="onUpdateSelectedCardList($event)">
</app-playable-card-list>
<app-hexed-background  *ngIf="event.getSelectionActive()"
	@fadeIn
	[autoFillHexSize]="'large'">
</app-hexed-background>
