<app-card-builder-list
	*ngIf="_currentEvent"
	[ngClass]="[_cardSize]"
	[event]="_currentEvent"
	[cardSize]="_cardSize"
	(cardBuilderButtonClicked)="onEventCardBuilderListButtonClicked($event)"
	(alternativePayButtonClicked)="onAlternativePayButtonClicked($event)">
</app-card-builder-list>
<app-playable-card-list-wrapper
	[listBehavior]="'builder'"
	(onSelectionUpdateForBuilderEvent)="onSelectionUpdate($event)">
</app-playable-card-list-wrapper>
<app-hexed-background  *ngIf="isSelectionActive()"
	@fadeIn
	[autoFillHexSize]="'large'">
</app-hexed-background>