<div class="wrapper-main">
	<div class="wrapper-phase-card-zone">
		<app-phase-card #phaseCards *ngFor="let card of phaseGroup.phaseCards"
			[phaseIndex]="phaseGroup.phaseIndex"
			[phaseCardLevel]="card.cardLevel"
			[stateFromParent]="phaseCardState[card.cardLevel]"
			[initialState]="cardInitialState"
			[phaseCard]="phaseCardModels[card.cardLevel]"
			[stateFromParent]="stateFromParent"
			[phaseGroupUpgraded]="phaseGroup.phaseIsUpgraded || upgradeFinished"
			(phaseCardUpgraded)="phaseCardUpgraded($event)"></app-phase-card>
	</div>
</div>
