:host{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 50px;
}
.wrapper-sell{
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	aspect-ratio: 1;
}
p{
	z-index: 1;
	position: relative;
	font-size: 150%;
	width: 100%;
	font-weight: bold;
	text-align: center;
}
img{
	height: 100%;
	aspect-ratio: 1;
	position: absolute;
}
.wrapper-top{
	display: flex;
	justify-content: center;
	height: 70px;
	width: fit-content;
	gap: 30px;
	padding: 10px;
}
.wrapper-button{
	display: flex;
	height: 100%;
	aspect-ratio: 1;
	gap: 5px;
}
