:host{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 100px;
}
.pannel{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
}
h1{
	margin-top: 50px;
	width: 60%;
	text-align: center;
	padding: 10px;
}
.wrapper-player-pannel{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.wrapper-phase-selected-pannel{
	display: flex;
	flex-direction: column;
	gap: 5px;
<<<<<<< HEAD
	overflow: scroll;
	scrollbar-width: none;
=======
>>>>>>> a5d474659a9d5311d74cb1f92df1e4af0419c4df
}
