:host{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 30px;
}
.wrapper-phase-card{
    display: flex;
    justify-content: center;
    height: auto;
	filter: grayscale(20%);
	&:hover{
		filter: grayscale(0%);
		$colorShadow: white;
		border-radius: 15px;
		box-shadow: 0 0 10px 2px $colorShadow;
	}
}
button{
	background: transparent;
	border: 0;
}
.hovered{
	cursor: pointer;
}
.previous{
	filter: grayscale(85%);
	pointer-events: none;
}
.current{
	$colorShadow: white;
	box-shadow: 0 0 20px 10px $colorShadow;
	border-radius: 15px;
	filter: grayscale(0%);
	&:hover{
		box-shadow: 0 0 20px 10px $colorShadow;
	}
}
