<div class="wrapper-main"
	[class.phase-selected]="currentPhaseSelected">
    <div class="wrapper-phase-card">
        <div *ngFor="let button of buttonList" class="wrapper-button"
			[class.selected]="button.name===currentPhaseSelected">
            <app-button class="phase-card" [button]="button" (buttonClicked)="buttonClicked(button)">
                <img class="phase-image" src="/assets/other/phase_{{button.name}}.png" alt="">
                <p>{{button.name}}</p>
            </app-button>
        </div>
    </div>
    <div class="wrapper-selected-phase-card"
		*ngIf="currentPhaseSelected">
        <div class="wrapper-phase-card-description"
			@fadeIn>
            <ng-container *ngFor="let phaseCard of selectedPhaseCards">
				<div @fadeIn *ngIf="currentPhaseSelected === (phaseCard.phaseGroup.toLowerCase())"
				class="wrapper-phase-selected">
                    <div class="wrapper-title-and-text">
                        <h4>Ability</h4>
                        <app-text-with-image [rawText]="phaseCard.baseDescription"></app-text-with-image>
                    </div>
                    <div class="wrapper-title-and-text">
                        <h4>Bonus</h4>
                        <app-text-with-image [rawText]="phaseCard.bonusDescription"></app-text-with-image>
                    </div>
                </div>
            </ng-container>
			<app-hexed-background [background]="true" [autoFillHexSize]="'small'"></app-hexed-background>
        </div>
    </div>
</div>
