<div *ngIf="debug===true">
    <h1>Server emulation - phase selection</h1>
    <h2>Actual phase: {{ currentPhase }}</h2>
    <div class="wrapper-phase-changer">
        <button (click)="printEventQueue()" class="phase-research phase-selection-button clickable">Print eventqueue</button>
        <button (click)="printDrawQueue()" class="phase-research phase-selection-button clickable">Print drawQueu</button>
        <button (click)="sendDrawNumber()" class="phase-research phase-selection-button clickable">DrawNumber</button>
        <button (click)="sendReady()" class="phase-research phase-selection-button clickable">Ready</button>
        <button (click)="sendNotReady()" class="phase-research phase-selection-button clickable">Not Ready</button>
        <button (click)="sendBotsReady()" class="phase-research phase-selection-button clickable">Bots ready</button>
        <button (click)="sendtest()" class="phase-research phase-selection-button clickable">test</button>
    </div>

    <div class="wrapper-game-state">
        <button (click)="printPlayersState()">players state</button>
    </div>
	<p>eventQueue :</p>
    <div *ngFor="let event of currentEventQueue">
        <p>[id]:{{event.id}}  [type]:{{event.type}}  [subtype]:{{event.subType}}  [finalized]:{{event.finalized}}  [autoFinalize]:{{event.autoFinalize}}</p>
    </div>
</div>
