<app-playable-card-list 
    #cardList
    *ngIf="_currentEvent && _cardList"
    [listBehavior]="listBehavior"
    [initialChildrenCardState]="_initialCardState"
    [cardList]="_cardList"
    [listType]="_listType"
    [listSubType]="_currentEvent.subType==='doubleProduction'?'repeatProduction':'none'"
    [authorizeSelection]="_authorizeSelection"
    [selectionQuantity]="_selectionQuantity"
    [selectionTresholdType]="_selectionTresholdType"
    [buildDiscount]="_builderDiscount"
    [filter]="_filter"
    (updateSelectedCardList)="onUpdateSelectedCardList($event)"
    (projectActivated)="onProjectActivated($event)">
</app-playable-card-list>