$colors: (
  "construction": red,
  "action": blue,
  "development": green,
  "research": yellow,
  "production": orange,
);
.wrapper-phase-card{
    display: flex;
    gap: 1vw;
}
.phase-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    background-color: transparent;
    border: 0;
}
.phase-image{
    max-height: 100%;
    max-width: 100%;
}
