$card-height: 300px;
$card-width: calc($card-height * 63 / 88);

$colors: (
  "construction": red,
  "action": blue,
  "development": green,
  "research": yellow,
  "production": orange,
);
.wrapper-phase-card{
    display: flex;
    justify-content: center;
    gap: 1vw;
    width: 100%;
    height: auto;
}
.phase-card{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    max-width: 90%;
}
.phase-image{
    max-height: 100%;
    max-width: 100%;
}
.wrapper-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    aspect-ratio: 1;
}
.wrapper-selected-phase-card{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.wrapper-phase-card-description{
    height: $card-height;
    width: $card-width;

    $horizontal-padding: .0;

    padding-bottom: calc($card-height * .015);
    padding-right: calc($card-width * $horizontal-padding);
    padding-left: calc($card-width * $horizontal-padding);
    border: black solid 2px;
    border-radius: calc($card-height * .05);

    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-phase-selected{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 100%;
}