$card-width: 400px;
$card-height: calc($card-width / 2);

$colors: (
  "construction": red,
  "action": blue,
  "development": green,
  "research": yellow,
  "production": orange,
);
.wrapper-phase-card{
    display: flex;
    justify-content: center;
    gap: 1vw;
    width: 100%;
    height: auto;
}
.phase-card{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    max-width: 90%;
}
.phase-image{
    max-height: 100%;
    max-width: 100%;
}
.wrapper-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    aspect-ratio: 1;
}
.wrapper-selected-phase-card{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.wrapper-phase-card-description{
    height: $card-height;
    width: $card-width;

    $horizontal-padding: .0;

    border: black solid 2px;
    border-radius: calc($card-height * .05);

    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-phase-selected{
    $horizontal-padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
    height: 100%;
    width: 100%;
}
app-text-with-image{
    width: 100%;    
}
.wrapper-title-and-text{
    width: 100%;
    height: 40%;
}