.wrapper-player-ready{
    display: flex;
    justify-content: space-between;
    width: 10%;
}
.player-ready{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5%;
    border: black 1px solid;
    border-radius: 5px;
    & p {
        width: 100%;
        text-align: center;
    }
}
.green{
    background: green;
}
.red{
    background: red;
}
