:host{
    height: 100%;
    width: 100%;
    display: flex;
    border: red solid 1px;
}
.wrapper-event-origin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 20%;
    & > p {
        color: white;
        font-size: 80px;
    }
}
app-playable-card-list{
    width: fit-content;
}