@use '../../../../styles/abstracts/colors' as colors;
:host{
	height: 100%;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: solid 1px rgb(167, 128, 0);
}
.wrapper-main{
	position: relative;
	display: flex;
	height: 90%;
	width: 100%;
	gap: 2px;
	padding: 2px;
}
.wrapper-image{
	height: 100%;
	width: 18px;
	margin-right: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.wrapper-other{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	flex: 1;
	height: 100%;
	gap: 2px;
}
app-vp{
	height: 85%;
	width: fit-content;
	margin-right: 2px;
}
.wrapper-ranking{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}
.ranking-caption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	align-content: center;
	font-weight: 600;
}
.wrapper-colors{
	display: flex;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.box-player{
	height: 100%;
	background-color: white;
	flex: 1;
	p{
		text-align: center;
		font-size: 14px;
	}
	@each $name, $value in colors.$colors{
		&.#{$name}{
			background-color: $value;
		}
	}
}
.wrapper-text{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 70%;
	max-height: 100%;
	padding-right: 0px;
	&.production{
		justify-content: center;
		min-width: 15px;
	}
	&.non-production{
		justify-content: right;
	}
}
.production-bar{
	position: absolute;
	bottom: 0;
	height: 3px;
	width: 100%;
	border-radius: 5px;
	border-radius: 2px;
	background-size: 10px 80px;
}
.non-production-text{
	color: white;
	font-size: 15px;
	text-align: right;
}
.production-text{
	font-size: 14px;
	color: orange;
}
.wrapper-helper{
	z-index: 1;
	position: absolute;
	display: flex;
	backdrop-filter: blur(10px);
	background-color: rgba(128, 128, 128, 0.19);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.hovered{
	cursor: default;
}
