@use 'sass:color';
.small{
	--card-played-symbol-size: var(--card-played-symbol-size--small);
}
.medium{
	--card-played-symbol-size: var(--card-played-symbol-size--medium);
}
:host{
    display: flex;
    flex-direction: row;
}
.wrapper-played-icon{
	display: flex;
	align-items: center;
	justify-content: center;

	height: var(--card-played-symbol-size);
	aspect-ratio: 1;

    border: 1px gold solid;
    border-radius: 5px;
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
    background: rgba(0, 0, 0, .5);
	margin-bottom: 5px;
	background: rgba(color.scale(gold, $lightness: -50%), .3);
    & img{
        height: calc(var(--card-played-symbol-size));
		aspect-ratio: 1;
    }
}
.wrapper-played-text{
	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px gold solid;
	border-top-left-radius: 0;
	flex: 1;
	&.small{
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: 0;
	}
}
