<div *ngIf="button.type==='eventMain' || button.type==='nonEvent'" class="wrapper-button">
	<button class="main"
		[disabled]="!isEnabled()"
		[class.hovered]="isHovered()"
		[ngClass]="[
			isEnabled()? 'enabled':'disabled',
			shape?'button-shape--'+shape:''
			]"
		(mouseenter)="setHovered(true)"
		(mouseleave)="setHovered(false)"
		(click)="onClick(button)">
		<div class="disabled-grid"
			*ngIf="!isEnabled()"></div>
		<div class="wrapper-elements">
			<div *ngIf="_style==='plain' && isEnabled()"
				[ngClass]="['button-shape--'+shape, 'gradiant-mask--'+shape]">
				<div [ngClass]="['button-gradiant-background--'+shape, 'button-shape--'+shape]"></div>
			</div>
			<div [ngClass]="['button-main--'+shape,'button-shape--'+shape, isEnabled()? 'enabled':'disabled']"
				[class.hovered]="isHovered()">
				<app-text-with-image [rawText]="_caption" [context]="context"></app-text-with-image>
			</div>
			<div [ngClass]="['button-background--'+shape, 'button-shape--'+shape, isEnabled()? 'enabled':'disabled']"
				[class.warning]="button.warning"
				[class.hovered]="isHovered()">
			</div>
			<div *ngIf="_style==='floating'"
				[ngClass]="[isEnabled()? 'enabled':'disabled', 'button-border--' + shape]"
				[class.warning]="button.warning"
				[class.hovered]="isHovered()" >
			</div>
		</div>
	</button>
	<div *ngIf="_style==='floating'" class="shadow"
		[class.hovered]="isHovered()"
		[class.warning]="button.warning"
		[ngClass]="[isEnabled()? 'enabled':'disabled']">
	</div>
</div>
<div *ngIf="button.type==='image'" class="wrapper-button">
    <div [ngClass]="{'element-disabled': button.isEnabled()===false}">
        <button [disabled]="button.isEnabled()===false" [ngClass]="[_imageUrl ? 'image-button':'validation-button', button.isEnabled() ? 'element-clickable':'']" (click)="onClick(button)"  >
            <p>{{button.caption}}</p>
            <img *ngIf="_imageUrl" [src]="_imageUrl" alt="">
        </button>
    </div>
</div>
<div *ngIf="button.type==='color'" class="wrapper-button">
	<button [ngClass]="'color-button--'+_color" (click)="onClick(button)"
		[class.hovered]="isHovered()"
		(mouseenter)="setHovered(true)"
		(mouseleave)="setHovered(false)">
	</button>
</div>
