
<button *ngIf="!_imageUrl" class="main" [disabled]="button.enabled===false" [ngClass]="[button.enabled===false ? 'element-disabled':'', shape?'button-shape--'+shape:'']" (click)="onClick(button)">
	<div class="wrapper-button">
		<div *ngIf="button.enabled===true" [ngClass]="[ 'button-shape--'+shape, 'gradiant-mask--'+shape]">
			<div [ngClass]="['button-gradiant-background--'+shape, 'button-shape--'+shape]"></div>
		</div>
		<div [ngClass]="['button-main--'+shape,'button-shape--'+shape]"><app-text-with-image [rawText]="_caption"></app-text-with-image></div>
		<div [ngClass]="['button-background--'+shape, 'button-shape--'+shape]"></div>
	</div>
</button>
<div *ngIf="_imageUrl" class="wrapper-button">
    <div [ngClass]="{'element-disabled': button.enabled===false}">
        <button [disabled]="button.enabled===false" [ngClass]="[_imageUrl ? 'image-button':'validation-button', button.enabled===true ? 'element-clickable':'']" (click)="onClick(button)"  >
            <p>{{button.caption}}</p>
            <img *ngIf="_imageUrl" [src]="_imageUrl" alt="">
        </button>
    </div>
</div>
