@use '../../../../styles/abstracts/colors' as colors;
@use 'sass:map';
@use 'sass:color';
$transition-delay : 0.15s;
$shape-name: ('hex', 'small', 'large', 'hex_floating', 'left', 'right', 'leftSmall', 'rightSmall', 'action', 'selection_rounded_square', 'xs', 'leftCarousel', 'rightCarousel');
$border-shape-name: ('hex_floating', 'action');
$shape-width: (
	'hex': 25%,
	'hex_floating': 25%,
	'small': 15%,
	'xs': 15%,
	'large': 10%,
	'left': 21%,
	'right': 35%,
	'leftSmall': 21%,
	'rightSmall': 35%,
	'action': 15%,
	'selection_rounded_square': 0,
	'leftCarousel': 35%,
	'rightCarousel': 35%
);
$disabled-color: gray;
$disabled-border: color.scale(gray, $lightness: -15%);

.wrapper-button{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.main {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	height: 100%;

	background: transparent;

	&.hovered.enabled{
		cursor: pointer;
	}
	&.disabled, .hovered.disabled{
		& .wrapper-elements{
			filter: grayscale(80%);
		}
	}
	&::ng-deep app-text-with-image .text-tag {
		max-width: 100%;
		max-height: 25px;
		font-weight: bold;
	}
	&.enabled::ng-deep app-text-with-image p {
		font-weight: 550;
		font-size: 100%;
	}
	&.disabled::ng-deep app-text-with-image p {
		color: rgb(61, 61, 61);
		font-size: 100%;
	}
}

.wrapper-elements {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.gradiant-mask {
	@each $name in $shape-name {
		&--#{$name} {
			z-index: 3;
			position: absolute;
			top: 0;
			left: 0px;
			display: flex;
			height: 100%;
			width: 100%;

			$color1: rgba(0, 0, 0, 0.15);
			$color2: rgba(0, 0, 0, 0);
			$color3: rgba(0, 0, 0, .5);
			-webkit-mask-image: linear-gradient(to bottom, $color1 0%, $color2 100%);
			mask-image: linear-gradient(to top, $color1 30%, $color2 70%);

			&:hover {
				-webkit-mask-image: linear-gradient(to bottom, $color2 0%, $color1 100%);
				mask-image: linear-gradient(to top, $color2 0%, $color1 100%);
			}

			&:active {
				-webkit-mask-image: linear-gradient(to bottom, $color3 0%, $color3 100%);
				mask-image: linear-gradient(to top, $color3 0%, $color3 100%);
			}
		}
	}
}

.button-gradiant-background {
	@each $name in $shape-name {
		&--#{$name} {
			z-index: 2;
			background: black;
		}
	}
}

.button-main {
	@each $name, $width in $shape-width {
		&--#{$name} {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			z-index: 2;
			left: 1px;
			top: 1px;
			height: calc(100% - 2px);
			width: calc(100% - 2px);
			position: absolute;

			background-color: var(--color-ares-orange);

			& app-text-with-image {
				width: calc(100% - #{$width});
				color: white;
			}
		}
		&.disabled{
			background-color: $disabled-color;
		}
	}
	&--left, &--leftSmall{
		width: calc(100% - 1px);
		background-color: var(--color-ares-blue-light2);
		&::ng-deep > *{
			margin-left: 15%;
		}
		&.disabled{
			filter: grayscale(50%);
		}
	}
	&--right, &--rightSmall{
		width: calc(100% - 1px);
		background-color: var(--color-ares-blue-dark);
		left: 0;
		&::ng-deep > *{
			margin-right: 20%;
		}
		&.disabled{
			filter: grayscale(50%);
		}
	}
	&--hex_floating.enabled, &--action.enabled, &--selection_rounded_square.enabled{
		background: transparent;
	}
	&--selection_rounded_square{
		&.enabled{
			border: rgba(0, 0, 0, 0.5) solid 2px;
			background-color: rgba(0, 0, 0, 0.1);
			box-shadow: 2px 2px rgba(0, 0, 0, 0.5) ;
		}
		&.enabled.hovered{
			border: rgba(black, 0.55) solid 2px;
			background-color: rgba(black, 0.3);
			&:active{
				box-shadow: 1px 1px rgba(0, 0, 0, 0.5) ;
				margin-top: 1px;
				margin-left: 1px;
			}
		}
		& app-text-with-image {
			color: black;
		}
	}
}

.button-background {
	@each $name in $shape-name {
		&--#{$name} {
			position: relative;
			left: 0;
			top: 0;
			z-index: 0;
			background-color: var(--color-ares-orange-dark);
		}
	}
	&--selection_rounded_square{
		background-color: transparent;
	}
	&--hex_floating, &--action{
		background: rgba(181, 128, 108, .8);
		&.enabled::before {
			content: '';
			position: absolute;
			inset: 0;
			opacity: 1;
			transition: opacity $transition-delay ease;
			z-index: -1;
		}
		&.enabled::after {
			content: '';
			position: absolute;
			inset: 0;
			background: rgba(255, 255, 255, .2);
			opacity: 0;
			transition: opacity $transition-delay ease;
			z-index: 10;
		}
		&.warning{
			background-color: rgb(209, 98, 67);
		}
		&.hovered::before {
			opacity: 0;
		}
		&.hovered::after {
			opacity: 1;
		}
		&.pressed {
			background-color: var(--color-ares-orange-light);
		}

	}
	&--left, &--right, &--leftSmall, &--rightSmall{
		background: var(--color-ares-blue);
	}
}

.button-shape{
	&--hex, &--hex_floating{
		aspect-ratio: 1.15 / 1;
	}
	&--xs{
		aspect-ratio: 2 / 1;
	}
	&--small{
		aspect-ratio: 3.5 / 1;
	}
	&--large{
		aspect-ratio: 5 / 1;
	}
	&--action{
		aspect-ratio: 2 / 1;
	}

	@each $name, $width in $shape-width {
		&--#{$name} {
			-webkit-clip-path: polygon(0% 50%, #{$width} 0%, calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, #{$width} 100%);
			clip-path: polygon(0% 50%, #{$width} 0%, calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, #{$width} 100%);
		}
	}

	&--left{
		$width: map.get($shape-width, $key:'left' );
		aspect-ratio: 1.83 / 1;
		-webkit-clip-path: polygon(0% 50%, #{$width} 0%, calc(100% - #{$width}) 0%, calc(100% - #{$width}) 100%, #{$width} 100%);
		clip-path: polygon(0% 50%, #{$width} 0%, 100% 0%, 100% 100%, #{$width} 100%);
	}
	&--right{
		$width: map.get($shape-width, $key:'right' );
		aspect-ratio: 1.1 / 1;
		-webkit-clip-path: polygon(0% 0%,calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, 0% 100%);
		clip-path: polygon(0% 0%,calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, 0% 100%);
	}
	&--leftSmall{
		$width: map.get($shape-width, $key:'leftSmall' );
		aspect-ratio: 2.5 / 1;
		-webkit-clip-path: polygon(0% 50%, #{$width} 0%, calc(100% - #{$width}) 0%, calc(100% - #{$width}) 100%, #{$width} 100%);
		clip-path: polygon(0% 50%, #{$width} 0%, 100% 0%, 100% 100%, #{$width} 100%);
	}
	&--rightSmall{
		$width: map.get($shape-width, $key:'rightSmall' );
		aspect-ratio: 1.5 / 1;
		-webkit-clip-path: polygon(0% 0%,calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, 0% 100%);
		clip-path: polygon(0% 0%,calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, 0% 100%);
	}
	&--selection_rounded_square{
		border-radius: 10px;
		width: 100%;
	}
	&--leftCarousel{
		$width: map.get($shape-width, $key:'leftCarousel' );
		aspect-ratio: 1.2;
		-webkit-clip-path: polygon(0% 50%, #{$width} 0%, 100% 0%, 100% 100%, #{$width} 100%);
		clip-path: polygon(0% 50%, #{$width} 0%, 100% 0%, 100% 100%, #{$width} 100%);
	}
	&--rightCarousel{
		$width: map.get($shape-width, $key:'rightCarousel' );
		aspect-ratio: 1.2;
		-webkit-clip-path: polygon(0% 0%,calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, 0% 100%);
		clip-path: polygon(0% 0%,calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, 0% 100%);
	}
}
.button-border {
	$border-thickness: 3px;
	$inner-offset: calc($border-thickness / 2);
	&--hex_floating{
		$width: map.get($shape-width, 'hex_floating');
		-webkit-clip-path: polygon(0% 50%, #{$width} 0%, calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, #{$width} 100%, 0% 50%, calc($border-thickness) 50%, calc($width + $inner-offset) calc(100% - $border-thickness), calc(100% - calc($width + $inner-offset)) calc(100% - $border-thickness), calc(100% - $border-thickness) 50%, calc(100% - calc($width + $inner-offset)) calc($border-thickness), calc($width + $inner-offset) calc($border-thickness), calc($border-thickness) 50%);
		clip-path: polygon(0% 50%, #{$width} 0%, calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, #{$width} 100%, 0% 50%, calc($border-thickness) 50%, calc($width + $inner-offset) calc(100% - $border-thickness), calc(100% - calc($width + $inner-offset)) calc(100% - $border-thickness), calc(100% - $border-thickness) 50%, calc(100% - calc($width + $inner-offset)) calc($border-thickness), calc($width + $inner-offset) calc($border-thickness), calc($border-thickness) 50%);
	}
	&--action{
		$width: map.get($shape-width, 'action');
		-webkit-clip-path: polygon(0% 50%, #{$width} 0%, calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, #{$width} 100%, 0% 50%, calc($border-thickness) 50%, calc($width + $inner-offset) calc(100% - $border-thickness), calc(100% - calc($width + $inner-offset)) calc(100% - $border-thickness), calc(100% - $border-thickness) 50%, calc(100% - calc($width + $inner-offset)) calc($border-thickness), calc($width + $inner-offset) calc($border-thickness), calc($border-thickness) 50%);
		clip-path: polygon(0% 50%, #{$width} 0%, calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, #{$width} 100%, 0% 50%, calc($border-thickness) 50%, calc($width + $inner-offset) calc(100% - $border-thickness), calc(100% - calc($width + $inner-offset)) calc(100% - $border-thickness), calc(100% - $border-thickness) 50%, calc(100% - calc($width + $inner-offset)) calc($border-thickness), calc($width + $inner-offset) calc($border-thickness), calc($border-thickness) 50%);
	}
	@each $name in $border-shape-name{
		&--#{$name}{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			&.enabled::before {
				content: '';
				position: absolute;
				inset: 0;
				background-image: linear-gradient(135deg, rgb(215, 215, 215) 30%, rgb(147, 147, 147) 60%, rgb(234, 234, 234) 90%);
				opacity: 1;
				transition: opacity $transition-delay ease;
				z-index: -1;
			}
			&.enabled.warning:before{
				background: var(--color-ares-red-dark0);
			}
			&.enabled::after {
				content: '';
				position: absolute;
				inset: 0;
				background-image: linear-gradient(to right, var(--color-ares-orange) 0%, var(--color-ares-orange) 100%);
				opacity: 0;
				transition: opacity $transition-delay ease;
				z-index: -1;
			}

			&.enabled.hovered::before {
				opacity: 0;
			}

			&.enabled.hovered::after {
				opacity: 1;
			}
			&.warning:after{
				background-image: red;
			}
		}
	}
}
.shadow{
	z-index: 0;
	position: absolute;
	height: 100%;
	width: 90%;
	background: transparent;
	border-radius: 50%;
	&.hovered.enabled{
		box-shadow: 0px 0px 15px 10px rgba($color: #ff7700, $alpha: .3);
	}
	&.enabled{
		box-shadow: 0px 0px 15px 10px rgba($color: #c4c4c4, $alpha: .2);
	}
	&.warning{
		box-shadow: 0px 0px 25px 10px rgba($color: red, $alpha: .3);
	}
}
.disabled-grid{
	position: absolute;
	z-index: 20;
	$color-one: map.get(colors.$colors, 'orange');
	$color-two: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
	$step1: 2%;
	$step2: 5%;
	$step3: 8%;
	width: 100%;
	height: 100%;
	opacity: 80%;
	background: repeating-linear-gradient($color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
	background: -webkit-repeating-linear-gradient($color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
	background: -moz-repeating-linear-gradient(135deg,$color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
	filter: grayscale(0%);
}
.color-button{
	@each $name, $value in colors.$colors{
		&--#{$name}{
			position: relative;
			pointer-events: all;
			z-index: 1;
			height: 100%;
			flex: .7;
			background-color: $value;
			border-radius: 5px;
			border: 0;
			box-shadow: 0 0 2px 1px black;

			&.hovered{
				cursor: pointer;
				filter: grayscale(20%);
				box-shadow: 0 0 2px 2px black;
			}
		}
	}
}
