$shape-name: ('hex', 'small', 'large');
$shape-width: (
	'hex': 25%,
	'small': 15%,
	'large': 10%
);

.main {
	position: relative;
	border: 0;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.wrapper-button {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.gradiant-mask {
	@each $name in $shape-name {
		&--#{$name} {
			z-index: 3;
			position: absolute;
			top: 0;
			left: 0px;
			display: flex;
			height: 100%;
			width: 100%;

			$color1: rgba(0, 0, 0, 0.15);
			$color2: rgba(0, 0, 0, 0);
			$color3: rgba(0, 0, 0, .5);
			-webkit-mask-image: linear-gradient(to bottom, $color1 0%, $color2 100%);
			mask-image: linear-gradient(to bottom, $color1 0%, $color2 100%);

			&:hover {
				-webkit-mask-image: linear-gradient(to bottom, $color2 0%, $color1 100%);
				mask-image: linear-gradient(to bottom, $color2 0%, $color1 100%);
				cursor: pointer;
			}

			&:active {
				-webkit-mask-image: linear-gradient(to bottom, $color3 0%, $color3 100%);
				mask-image: linear-gradient(to bottom, $color3 0%, $color3 100%);
				cursor: pointer;
			}
		}
	}
}

.button-gradiant-background {
	@each $name in $shape-name {
		&--#{$name} {
			z-index: 2;
			background: black;
		}
	}
}

.button-main {
	@each $name, $width in $shape-width {
		&--#{$name} {
			display: flex;
			justify-content: center;
			align-items: center;

			z-index: 1;
			left: 1px;
			top: 1px;
			height: calc(100% - 2px);
			width: calc(100% - 2px);
			position: absolute;

			background-color: var(--color-ares-orange);

			& app-text-with-image {
				width: calc(100% - #{$width});
				color: white;
			}
		}
	}
}

.button-background {
	@each $name in $shape-name {
		&--#{$name} {
			position: relative;
			left: 0;
			top: 0;
			z-index: 0;
			background-color: var(--color-ares-orange-dark);
		}
	}
}

:host ::ng-deep app-text-with-image .text-tag {
	max-width: 100%;
	max-height: 25px;
}

.button-shape{
	&--hex{
		aspect-ratio: 1.15 / 1;
	}
	&--small{
		aspect-ratio: 3.5 / 1;
	}
	&--large{
		aspect-ratio: 5 / 1;
	}
	@each $name, $width in $shape-width {
		&--#{$name} {
			max-width: 100%;
			max-height: 100%;
			-webkit-clip-path: polygon(0% 50%, #{$width} 0%, calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, #{$width} 100%);
			clip-path: polygon(0% 50%, #{$width} 0%, calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, #{$width} 100%);
		}
	}
}
