<div class="wrapper-game-event" *ngIf="currentEvent">
    <div class="wrapper-commands ares-background ares-border">
        <div class="wrapper-validate-button">
            <app-event-main-button *ngIf="currentEvent.button" [button]="currentEvent.button" (eventMainButtonClicked)="eventMainButtonClicked()"></app-event-main-button>
        </div>
        <div class="wrapper-sell-button">
            <app-event-secondary-button *ngIf="sellCardsButton" [button]="sellCardsButton" (nonEventButtonClicked)="nonEventButtonClicked(sellCardsButton)"></app-event-secondary-button>
        </div>
		<div class="wrapper-sell-cancel-button">
            <app-event-secondary-button *ngIf="sellCardsCancelButton" [button]="sellCardsCancelButton" (nonEventButtonClicked)="nonEventButtonClicked(sellCardsCancelButton)"></app-event-secondary-button>
        </div>
    </div>
    <div class="wrapper-event-main">
        <div class="wrapper-event-top">
            <h2 *ngIf="currentEvent!=undefined && currentEvent.title!=undefined">{{currentEvent.title}}</h2>
			<div class="wrapper-event-top-main">
                <app-card-builder-list *ngIf="currentEvent.hasCardBuilder()===true" [event]="currentEvent" [eventId]="currentEvent.id" (eventCardBuilderListButtonClicked)="eventCardBuilderListButtonClicked($event)"></app-card-builder-list>
                <!--<app-card-builder-list *ngIf="currentEvent.hasCardBuilder()===true" [event]="currentEvent" (gameEventPlayZoneButtonClicked)="eventCardBuilderButtonClicked($event)"></app-card-builder-list>-->
			</div>
            <app-phase-planification *ngIf="currentPhase==='PLANIFICATION' && currentEvent.subType==='planificationPhase'" [clientPlayerId]="clientPlayerId" (phaseSelected)="phaseSelected()"></app-phase-planification>
            <app-phase-production *ngIf="currentPhase==='PRODUCTION' && currentEvent.subType==='productionPhase'"></app-phase-production>
            <div *ngIf="currentEvent.subType==='waitingGroupReady'" class="ares-background"><h1>[Waiting for other players to be ready]</h1></div>
        </div>
        <div class="wrapper-event-bottom">
            <div *ngIf="currentEvent.hasSelector()===true" class="wrapper-card-selector ares-background">
                <app-project-card-list #cardListSelector [cardListId]="'game event list'" [event]="currentEvent" (updateSelectedCardList)="updateSelectedCardList($event)"></app-project-card-list>
            </div>
			<app-phase-card-upgrade-selector *ngIf="currentEvent.subType==='upgradePhaseCards'" [event]="currentEvent"></app-phase-card-upgrade-selector>
        </div>
    </div>
</div>

<div class="wrapper-selection-active" [ngClass]="currentEvent?.getSelectionActive()===true?  'element-fade-in':'element-fade-out'">
    <div class="selection-active-left"></div>
    <div class="selection-active-right"></div>
</div>

