<div class="wrapper-game-event">
    <p>current event :</p>
    <div *ngFor="let event of delete">
        <p>{{ event.type }} {{ event.isFinalized }}</p>
    </div>
    <h1>{{ currentPhase }}</h1>
    <div *ngIf="currentPhase==='development' || currentPhase==='construction'" class="wrapper-play-card">
        <div class="play-card-zone play-card-one zone-one">
			<div class="wrapper-select-button">
				<app-button class="button-select-card" (childButtonClicked)="childButtonClicked($event)" [button]="buttons[getButtonIdFromName('selectFirstCard')]"></app-button>
			</div>
            <div class="wrapper-build-button">
                <app-button class="button-build-card" (childButtonClicked)="childButtonClicked($event)" [button]="buttons[getButtonIdFromName('buildFirstCard')]"></app-button>
            </div>
            <div class="wrapper-cancel-button">
				<app-button class="button-cancel-card" (childButtonClicked)="childButtonClicked($event)" [button]="buttons[getButtonIdFromName('cancelFirstCard')]"></app-button>
			</div>
			<app-project-card-list class="play-card-zone-list" [cardList]="playCardZone[0].cardList" [cardOptions]="playCardZone[0].options" [cardsPhaseFilter]="playCardZone[0].phaseFilter" (updateSelectedCardList)="updateSelectedCardList($event)"></app-project-card-list>
        </div>
        <div class="zone-two">
            <div class="play-card-zone play-card-two">
				<div class="wrapper-select-button">
                	<app-button class="button-select-card" (childButtonClicked)="childButtonClicked($event)" [button]="buttons[getButtonIdFromName('selectSecondCard')]"></app-button>
				</div>
				<div class="wrapper-cancel-button">
					<app-button class="button-cancel-card" (childButtonClicked)="childButtonClicked($event)" [button]="buttons[getButtonIdFromName('cancelSecondCard')]"></app-button>
				</div>
				<app-project-card-list class="play-card-zone-list" [cardList]="playCardZone[1].cardList" [cardOptions]="playCardZone[1].options" [cardsPhaseFilter]="playCardZone[1].phaseFilter" (updateSelectedCardList)="updateSelectedCardList($event)"></app-project-card-list>
				<app-button class="button-build-card" (childButtonClicked)="childButtonClicked($event)" [button]="buttons[getButtonIdFromName('buildSecondCard')]"></app-button>
            </div>
            <div class="wrapper-alternative">
                <h1>Or</h1>
                <app-button (childButtonClicked)="childButtonClicked($event)" [button]="buttons[getButtonIdFromName('selectAlternative')]"></app-button>
            </div>
        </div>
    </div>
    <div *ngIf="currentEvent!=undefined || currentPhase==='development' || currentPhase==='construction' || currentPhase==='action'" class="wrapper-card-selector">
        <h2 *ngIf="currentEvent!=undefined ">{{currentEvent.cardSelector.title}}</h2>
        <app-project-card-list [cardList]="currentEvent.cardSelector.selectFrom" [cardOptions]="currentEvent.cardSelector.cardOptions" [cardsPhaseFilter]="currentEvent.cardSelector.phaseFilter" (updateSelectedCardList)="updateSelectedCardList($event)"></app-project-card-list>
    </div>
    <app-phase-planification *ngIf="currentPhase==='planification'" [clientPlayerId]="clientPlayerId" (phaseSelected)="phaseSelected()"></app-phase-planification>
    <app-phase-production *ngIf="currentPhase==='production'"></app-phase-production>
	<ng-container *ngFor="let ph of phaseList">
		<div *ngIf="currentPhase===ph" class="wrapper-validate-button">
			<app-button (childButtonClicked)="childButtonClicked($event)" [button]="buttons[getButtonIdFromName(phaseButtons.get(ph))]"></app-button>
		</div>
	</ng-container>
    <app-button *ngIf="currentEvent!=undefined" (childButtonClicked)="childButtonClicked($event)" [button]="currentEvent.cardSelector.buttonName"></app-button>
</div>

