$ares-blue: rgb(39, 177, 229);
$command-pannel-height: 10vh;
$command-pannel-padding: 15px;
$command-pannel-width: 15%;
$navigation-bar-width: 3vw;
$card-height: 310px;
$card-width: calc($card-height * 63 / 88);

.wrapper-card-selector{
    width: 100%;
}
.wrapper-selection-active{
    z-index: -1;
    position: fixed;
    width: 95.9vw;
    height: 100vh;
    top: 0;
    left: 3vw;
    display: flex;
    justify-content: space-between;
}
.selection-active-left{
    height: 100%;
    width: 2vw;
    background: linear-gradient(to right, $ares-blue, rgba(255, 255, 255, 0))
}
.selection-active-right{
    height: 100%;
    width: 2vw;
    background: linear-gradient(to left, $ares-blue, rgba(255, 255, 255, 0))
}
.wrapper-event-button{
    //width: 50%;
	height: 100%;
	&--smaller{
		height: 70%;
	}
}
.wrapper-game-event{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.wrapper-event-main{
    position: relative;
    top:  calc(-1 * ($command-pannel-height + $command-pannel-padding * 2));
    width: 100%;
    margin-bottom: calc(-1 * ($command-pannel-height + $command-pannel-padding *2));
}
.wrapper-event-top{
    display: flex;
    flex-direction: column;

    width: calc(100% - ($navigation-bar-width + $command-pannel-width *2));
    margin-left: calc($navigation-bar-width + $command-pannel-width);
    min-height: calc($command-pannel-height + $command-pannel-padding *2);
}
.wrapper-event-top-main{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.wrapper-event-bottom{
    display: flex;
}
.wrapper-commands {
    z-index: 10;
    position: sticky;
    left: 0;
    top: 8vh;
    max-height: 100%;
    height: $command-pannel-height;
    width: $command-pannel-width;
    padding: $command-pannel-padding;

    display: flex;
    flex-direction: row;
    align-items: top;
}
.wrapper-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: $command-pannel-height;
}
app-phase-card-upgrade-selector{
	width: 100%;
}
