$ares-blue: rgb(39, 177, 229);
$command-pannel-height: 8vh;
$command-pannel-padding: 5px;
$command-pannel-width: 15%;
$navigation-bar-width: 3vw;

.wrapper-card-selector{
    width: 100%;
}
.wrapper-play-card{
    display: flex;
    justify-content: center;
    gap: 2%;
}
.play-card-zone{
    $card-height: 400px;
    $card-width: calc($card-height * 63 / 88);

    width: $card-width;
    height: $card-height;
    border: black solid 1px;
}
.zone-two{
    display: flex;
}
.wrapper-alternative{
    display: flex;
    width: 200px;
    border: black solid 1px;
}
.wrapper-select-button, .wrapper-cancel-button, .wrapper-build-button{
	display: flex;
	justify-content: center;
	width: 100%;
    border: blue 1px solid;
    padding: 0px;
    margin: 0;
    height: 70px;
}
.button-select-card, .button-cancel-card, .button-build-card{
	z-index: 1;
}
.play-card-zone{
    position: relative;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.play-card-zone-list{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.wrapper-selection-active{
    z-index: -1;
    position: fixed;
    width: 95.9vw;
    height: 100vh;
    top: 0;
    left: 3vw;
    display: flex;
    justify-content: space-between;
}
.selection-active-left{
    height: 100%;
    width: 2vw;
    background: linear-gradient(to right, $ares-blue, rgba(255, 255, 255, 0))
}
.selection-active-right{
    height: 100%;
    width: 2vw;
    background: linear-gradient(to left, $ares-blue, rgba(255, 255, 255, 0))
}
.wrapper-validate-button{
    width: 66%;
    max-height: 100%;
}
.wrapper-sell-button{
    width: 66%;
    max-height: 100%;
}
.wrapper-game-event{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.wrapper-event-main{
    position: relative;
    top:  calc(-1 * ($command-pannel-height + $command-pannel-padding * 2));
    width: 100%;
    margin-bottom: calc(-1 * ($command-pannel-height + $command-pannel-padding *2));
}
.wrapper-event-top{
    display: flex;
    flex-direction: column;

    width: calc(100% - ($navigation-bar-width + $command-pannel-width *2));
    margin-left: calc($navigation-bar-width + $command-pannel-width);
    min-height: calc($command-pannel-height + $command-pannel-padding *2);
}   
.wrapper-event-bottom{
    display: flex;
}
.wrapper-commands {
    z-index: 10;
    position: sticky;
    left: 0;
    top: 8vh;
    max-height: 100%;
    height: $command-pannel-height;
    width: $command-pannel-width;
    padding: $command-pannel-padding;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}