<div class="wrapper-player-pannel">
    <div class="wrapper-global-pannel">
        <app-global-pannel [playerId]="playerId" [playerState]="playerState"> </app-global-pannel>
    </div>
    <div class="wrapper-ressource-pannel">
        <app-ressource-pannel [playerId]="playerId" [ressourceState]="playerState.ressource"></app-ressource-pannel>
    </div>
    <div class="wrapper-tag-pannel">
        <app-tag-pannel [playerId]="playerId" [tagState]="playerState.tag"></app-tag-pannel>
    </div>
</div>