.wrapper-player-pannel {
    display: flex;
    align-items: center;
    height: 70px;
    gap: 5px;
    padding: 2px;
    margin: 1px;
}
.wrapper-ressource-pannel {
    height: 100%;
    width: auto;
}
.wrapper-tag-pannel {
    height: 100%;
    width: auto;
}