<div class="wrapper-main">
	<div class="wrapper-list">
		<h1 class="ares-title">TOP CORPS</h1>
		<app-playable-card-list [cardList]="getRanking('descending', 'corporation')"></app-playable-card-list>
	</div>
	<div class="wrapper-list">
		<h1 class="ares-title">TOP GREEN PROJECTS</h1>
		<app-playable-card-list [cardList]="getRanking('descending', 'greenProject')"></app-playable-card-list>
	</div>
	<div class="wrapper-list">
		<h1 class="ares-title">TOP BLUE PROJECTS</h1>
		<app-playable-card-list [cardList]="getRanking('descending', 'blueProject')"></app-playable-card-list>
	</div>
	<div class="wrapper-list">
		<h1 class="ares-title">TOP RED PROJECTS</h1>
		<app-playable-card-list [cardList]="getRanking('descending', 'redProject')"></app-playable-card-list>
	</div>
	<div class="wrapper-list">
		<h1 class="ares-title">BOTTOM CORPS</h1>
		<app-playable-card-list [cardList]="getRanking('ascending', 'corporation')"></app-playable-card-list>
	</div>
	<div class="wrapper-list">
		<h1 class="ares-title">BOTTOM GREEN PROJECTS</h1>
		<app-playable-card-list [cardList]="getRanking('ascending', 'greenProject')"></app-playable-card-list>
	</div>
	<div class="wrapper-list">
		<h1 class="ares-title">BOTTOM BLUE PROJECTS</h1>
		<app-playable-card-list [cardList]="getRanking('ascending', 'blueProject')"></app-playable-card-list>
	</div>
	<div class="wrapper-list">
		<h1 class="ares-title">BOTTOM RED PROJECTS</h1>
		<app-playable-card-list [cardList]="getRanking('ascending', 'redProject')"></app-playable-card-list>
	</div>
</div>
