<div class="wrapper-expansions">
	<div class="wrapper-option">
		<h4>Expansions:</h4>
		<div class="wrapper-option-inner">
			<app-create-game-option-card [caption]="'Discovery:'" [button]="_expansionDiscovery" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<app-create-game-option-card [isSubCat]="true" [caption]="'Standard project phase upgrade:'" [button]="_modeStandardProjectPhaseUpgrade" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<div class="divider"></div>
			<app-create-game-option-card [caption]="'Foundations:'" [button]="_expansionFoundations" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<app-create-game-option-card [isSubCat]="true" [caption]="'Infrastructure mandatory:'" [button]="_modeInfrastructureMandatory" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<div class="divider"></div>
			<app-create-game-option-card [caption]="'Promo cards:'" [button]="_expansionPromo" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<app-create-game-option-card [caption]="'Dev FanMade cards:'" [button]="_expansionDevFanMade" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<app-create-game-option-card [caption]="'Balanced cards:'" [button]="_expansionBalancedCards" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<div class="wrapper-option-inner">
			</div>
		</div>
	</div>
</div>
<div class="wrapper-game-mode">
	<div class="wrapper-option">
		<h4>Game mode:</h4>
		<div class="wrapper-option-inner">
			<app-create-game-option-card [caption]="'Initial draft:'" [button]="_modeInitialDraft" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<app-create-game-option-card [caption]="'Merger:'" [button]="_modeMerger" (buttonClick)="onClick($event)"></app-create-game-option-card>
		</div>
	</div>
</div>
