<div class="wrapper-expansions">
	<div class="wrapper-option">
		<h4>Expansions:</h4>
		<div class="wrapper-option-inner">
			<app-create-game-option-card [caption]="getCaption('discovery')" [tooltip]="getTooltip('discovery')" [button]="_expansionDiscovery" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<app-create-game-option-card [caption]="getCaption('standardProjectUpgrade')" [tooltip]="getTooltip('standardProjectUpgrade')" [isSubCat]="true"  [button]="_modeStandardProjectPhaseUpgrade" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<app-create-game-option-card [caption]="getCaption('additionalAwards')" [tooltip]="getTooltip('additionalAwards')" [isSubCat]="true" [button]="_modeAdditionalAwards" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<div class="divider"></div>
			<app-create-game-option-card [caption]="getCaption('foundations')" [tooltip]="getTooltip('foundations')" [button]="_expansionFoundations" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<app-create-game-option-card [caption]="getCaption('infrastructureMandatory')" [tooltip]="getTooltip('infrastructureMandatory')" [isSubCat]="true" [button]="_modeInfrastructureMandatory" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<div class="divider"></div>
			<app-create-game-option-card [caption]="getCaption('promoCards')" [tooltip]="getTooltip('promoCards')" [button]="_expansionPromo" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<app-create-game-option-card [caption]="getCaption('fanmadeCards')" [tooltip]="getTooltip('fanmadeCards')" [button]="_expansionDevFanMade" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<app-create-game-option-card [caption]="getCaption('balancedCards')" [tooltip]="getTooltip('balancedCards')" [button]="_expansionBalancedCards" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<div class="wrapper-option-inner">
			</div>
		</div>
	</div>
</div>
<div class="wrapper-game-mode">
	<div class="wrapper-option">
		<h4>Game mode:</h4>
		<div class="wrapper-option-inner">
			<app-create-game-option-card [caption]="getCaption('initialDraft')" [tooltip]="getTooltip('initialDraft')" [button]="_modeInitialDraft" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<app-create-game-option-card [caption]="getCaption('merger')" [tooltip]="getTooltip('merger')" [button]="_modeMerger" (buttonClick)="onClick($event)"></app-create-game-option-card>
			<app-create-game-option-card [caption]="getCaption('deadHand')" [tooltip]="getTooltip('deadHand')" [button]="_modeDeadHand" (buttonClick)="onClick($event)"></app-create-game-option-card>
		</div>
	</div>
</div>
