@use '../../../../../../styles/abstracts/colors' as colors;
@use 'sass:color';
@use 'sass:map';
$color-two: rgba(253, 157, 67, 0);
$step1: 1%;
$step2: 4%;
$step3: 5%;
:host{
	display: flex;
	width: 100%;
	height: 100%;
	opacity: 70%;
}
.disabled-color--blueproject{
	width: 100%;
	height: 100%;
	$color-one: map.get(colors.$colors, 'blue');
	background: repeating-linear-gradient($color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
	background: -webkit-repeating-linear-gradient($color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
	background: -moz-repeating-linear-gradient(135deg,$color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
}
.disabled-color--greenproject{
	width: 100%;
	height: 100%;
	$color-one: map.get(colors.$colors, 'green');
	background: repeating-linear-gradient($color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
	background: -webkit-repeating-linear-gradient($color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
	background: -moz-repeating-linear-gradient(135deg,$color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
}
.disabled-color--redproject{
	width: 100%;
	height: 100%;
	$color-one: map.get(colors.$colors, 'red');
	background: repeating-linear-gradient($color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
	background: -webkit-repeating-linear-gradient($color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
	background: -moz-repeating-linear-gradient(135deg,$color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
}
