<div *ngIf="debug===true">
    <h1>Server emulation - phase selection</h1>
    <h2>Actual phase: {{ currentPhase }}</h2>
    <div class="wrapper-phase-changer">
        <button (click)="updatePhase('planification')" class="phase-planification phase-selection-button clickable">Planification</button>
        <button (click)="updatePhase('development')" class="phase-development phase-selection-button clickable">Development</button>
        <button (click)="updatePhase('construction')" class="phase-construction phase-selection-button clickable">Construction</button>
        <button (click)="updatePhase('action')" class="phase-action phase-selection-button clickable">Action</button>
        <button (click)="updatePhase('production')" class="phase-production phase-selection-button clickable">Production</button>
        <button (click)="updatePhase('research')" class="phase-research phase-selection-button clickable">Research</button>
        <button (click)="printEventQueue()" class="phase-research phase-selection-button clickable">Print eventqueue</button>
        <button (click)="printDrawQueue()" class="phase-research phase-selection-button clickable">Print drawQueu</button>
        <button (click)="sendDrawNumber()" class="phase-research phase-selection-button clickable">DrawNumber</button>
        <button (click)="sendReady()" class="phase-research phase-selection-button clickable">Ready</button>
        <button (click)="sendNotReady()" class="phase-research phase-selection-button clickable">Not Ready</button>
        <button (click)="sendBotsReady()" class="phase-research phase-selection-button clickable">Bots ready</button>
    </div>
    
    <div class="wrapper-game-state">
        <button (click)="printPlayersState()">players state</button>
    </div>
    <p>drawQueue :</p>
    <div *ngFor="let queue of currentDrawQueue">
        <p>{{queue.id}} [{{queue.drawResultCardList}}] {{queue.finalized}}</p>
    </div>
    <div>
        <p>cards in deck:</p>
        <p>{{cardsDeck.length}}</p>
    </div>
	<p>eventQueue :</p>
    <div *ngFor="let event of currentEventQueue">
        <p>[id]:{{event.id}}  [type]:{{event.type}}  [subtype]:{{event.subType}}  [finalized]:{{event.finalized}}  [autoFinalize]:{{event.autoFinalize}}</p>
    </div>
</div>
