@use "sass:math";
@use "sass:map";
@use "sass:color";

$colors: (
	"purple": purple,
	"red": red,
	"yellow": yellow,
	"white": white
);
:host{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}
.wrapper-icon{
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	box-shadow: 0 0 2px 1px rgba(rgb(255, 129, 25), .6);
	aspect-ratio: 1;
	object-fit: contain;
	&::ng-deep img{
		height: 100%;
		aspect-ratio: 1;
		object-fit: contain
	}
}
app-text-with-image{
	height: 80%;
	aspect-ratio: 1;
}
.wrapper-progression-bar{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1%;
	padding-right: 2%;

	height: 70%;
	flex-grow: 1;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.bubble{
	position: relative;
	//border-radius: 5px;
	height: calc(100%);
	width: calc(100%);

	@each $name, $value in $colors{
		&.#{$name}{
			border: $value 1px solid;
			border-top-width: 2px;
			border-bottom-width: 2px;
			background: color.scale($value, $lightness: -60%);
		}
	}
	&.first{
		border-left-width: 2px;
	}
	&.last{
		border-right-width: 2px;
	}
	&.current{
		background: var(--color-ares-green-light);
		//border-color: var(--color-ares-orange);
		//box-shadow: 0px 0px 5px 0px $value;
	}
	&.add-eop{
		background: var(--color-ares-blue-light);
	}
}
.wrapper-bubble{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	&.temperature{
		width: math.floor(math.div(100%, 20));
	}
	&.oxygen, &.infrastructure{
		width: math.floor(math.div(100%, 15));
	}
	/*
	&.current{
		border: black 1px solid;
		padding: 1px;
		border-radius: 25%;
		padding-left: 1px;
		padding-right: 1px;
	}*/
}
