.main{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.background{
	position: absolute;
	height: 100%;
	width: 100%;
	img {
		height: 100%;
		aspect-ratio: 1;
	}
}
.foreground{
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-image: linear-gradient(35deg, rgba(0,0,0, .4) 30%, transparent 40%, transparent 60%, rgba(255,255,255, .5) 80%);
}
.ocean-grid{
	position: relative;
	display: grid;
	grid-template-columns: .5fr 1fr .5fr 1fr .5fr 1fr .5fr 1fr .5fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

	top: -3%;
	left: 3%;
	width: 75%;
	height: 75%;
}
.ocean{
	$width: 25%;
	$border-thickness: 2px;
	$inner-offset: calc($border-thickness / 2);

	display: flex;
	align-items: center;

	width: 100%;
	height: 100%;

	.shape{
		width: 95%;
		height: 95%;
		background-color: white;
		-webkit-clip-path: polygon(0% 50%, #{$width} 0%, calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, #{$width} 100%);
		clip-path: polygon(0% 50%, #{$width} 0%, calc(100% - #{$width}) 0%, 100% 50%, calc(100% - #{$width}) 100%, #{$width} 100%, 0% 50%, calc($border-thickness) 50%, calc($width + $inner-offset) calc(100% - $border-thickness), calc(100% - calc($width + $inner-offset)) calc(100% - $border-thickness), calc(100% - $border-thickness) 50%, calc(100% - calc($width + $inner-offset)) calc($border-thickness), calc($width + $inner-offset) calc($border-thickness), calc($border-thickness) 50%);
	}
}
.--0{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 5;
}
.--1{
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 4;
}
.--2{
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 3;
}
.--3{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 7;
}
.--4{
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 6;
}
.--5{
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 3;
	grid-row-end: 5;
}
.--6{
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 6;
	grid-row-end: 8;
}
.--7{
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 5;
	grid-row-end: 7;
}
.--8{
	grid-column-start: 7;
	grid-column-end: 10;
	grid-row-start: 4;
	grid-row-end: 6;
}
