<div [ngClass]="['wrapper-activation-list', 'ares-border', 'ares-background',
		maximumCardActivation?'maximum-activation':'', activationOptions.length===1?'one-button':'two-button']">
	<ng-container *ngIf="maximumCardActivation===false">
		<app-card-activation
			*ngFor="let option of activationOptions"
			[projectCard]="projectCard"
			[actionIndex]="option.index"
			[caption]="option.caption"
			[optionTotalQuantity]="activationOptions.length"
			[cardSize]="cardSize"
			[isScalingCostActivation]="isScalingCostActivation"
			(activated)="onActivation($event)">
		</app-card-activation>
	</ng-container>
</div>
