:host{
    display: flex;
    justify-content: center;
}
.wrapper-activation-list{
	$wrapper-width: 90%;
	display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;
	width: $wrapper-width;
	margin-top: -5px;
	padding-top: 5px;
	padding-bottom: 0;
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

    &.one-button{
        height: calc(var(--card-height) * .25);
        margin-bottom: calc(var(--card-height) * .11);
        &.maximum-activation{
	    	height: calc(var(--card-height) * .04);
		    margin-bottom: calc(var(--card-height) * .32);
	    }
    }
    &.two-button{
    	height: calc(var(--card-height) * .36);
        &.maximum-activation{
	    	height: calc(var(--card-height) * .04);
		    margin-bottom: calc(var(--card-height) * .32);
	    }
    }
}