$main-padding: 20px;
:host{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.inner-window{
	position: relative;
	z-index: 1000;

	display: flex;

	width: 400px;
	height: 400px;
	padding: $main-padding;
}
.main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;

	width: 100%;
	height: 100%;
}
.button-close{
	$width: 40px;
	position: absolute;
	right: $main-padding;
	width: $width;
	aspect-ratio: 1;
}
.background{
	z-index: 999;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.wrapper-title{
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	width: 40%;
	height: fit-content;
	border-color: var(--color-ares-orange);
	h1{
		color: var(--color-ares-orange);
	}
}
.wrapper-setting-zone{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	height: 100%;
}
.wrapper-setting{
	display: flex;
	align-items: center;
	gap: 10px;
	width: 250px;
	height: 40px;
	& > app-non-event-button{
		height: 100%;
	}
	& > app-button-carousel{
		height: 100%;
		flex: 1;
	}
	& p {
		min-width: 70px;
	}
}
