@use '../../../../styles/abstracts/colors' as colors;
:host{
	position: relative;
	height: 100%;
}
.wrapper-player-name{
	position: relative;
    display: flex;
    align-items: center;
    height: calc(100% - 2px);
    padding-left: 5px;
    overflow: hidden;
	@each $name, $value in colors.$colors {
		&.#{$name}{
			border-radius: 2px;
			&.default{
				aspect-ratio: 4; //acts as min width
				width: calc(100% - 21px);
				border: $value solid 1px;
				border-left-width: 15px;
				background-color: rgba($value, .2);
			}
			&.short{
				aspect-ratio: 1.5;
				background-color: $value;
			}
        }
    }
    & > p{
		font-size: 90%;
		color: white;
		word-break: unset;
		width: fit-content;
		white-space: nowrap;
    }
}
.not-ready{
	opacity: 50%;
}
img{
	height: 70%;
	position: absolute;
	&.default{
		top: -10%;
		right: -3%;
	}
	&.short{
		top: -15%;
		right: -10%;
		&.not-ready{
			top: 15%;
			left: 30%
		}
	}
}
