<div class="wrapper-production-phase">
    <h2>Production</h2>
    <ul>you gained :
        <li>{{clientPlayerState.ressource[0].valueProd + clientPlayerState.terraformingRating}} megacredits ({{clientPlayerState.ressource[0].valueProd}} from production and {{clientPlayerState.terraformingRating}} from TR)</li>
        <li>{{clientPlayerState.ressource[1].valueProd}} heat</li>
        <li>{{clientPlayerState.ressource[2].valueProd}} plants</li>
        <li>{{clientPlayerState.ressource[5].valueProd}} cards</li>
    </ul>
</div>
<app-player-ready></app-player-ready>