$card-height: 310px;
$card-width: calc($card-height * 63 / 88);
.wrapper-main{
	width: $card-width;
	padding: 10px;
}
.wrapper-phase-card{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

	width: $card-width;
	height: $card-height;
	border: black solid 1px;
	border-radius: 5px;
}
.wrapper-button{
	margin-top: 4vh;
}
.phase0{
	border: green solid 2px;
}
.phase1{
	$border-color-one: blue;
	$border-color-two: red;
	border: red solid 2px;
	border-image: linear-gradient(to right, $border-color-one, $border-color-two) 10;
}
.phase2{
	border: blue solid 2px;
}
.phase3{
	border: orange solid 2px;
}
.phase4{
	border: yellow solid 2px;
}
.wrapper-selection-border{
	z-index: -1;

    $selection-offset: 20px;
    border-radius: calc(($card-height + $selection-offset)* .05);
    height: calc($card-height + $selection-offset);
    width: calc($card-width + $selection-offset);
    display: flex;
    justify-content: center;
    align-items: center;
}
