:host{
	display: flex;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
}
.wrapper-phase-selected{
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	height: 100%;
	gap: 5px 1px;
}
.wrapper-image{
	display: flex;
	align-items: center;
	height: 30px;
	aspect-ratio: 1;
}
img{
	height: 100%;
	width: 100%;
}
app-player-name{
	height: 30px;
}
.wrapper-round{
	width: 30px;
}
