.small{
	--card-height: var(--card-height--small);
}
.medium{
	--card-height: var(--card-height--medium);
}
:host{
    display: flex;
    width: 100%;

    font-size: small;
    & p {
        font-size: small;
    }
}
div{
	border: grey solid 1px;
}
.min{
	border: yellow 1px solid;
}
.max{
	border: orangered 1px solid;
}
.wrapper-prerequisite-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
	border-top-left-radius: 0;
	.small{
		border-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}
.wrapper-prerequisite-summary{
    display: flex;
    align-items: center;
    justify-content: center;

	height: fit-content;

    background: rgba(grey, .6);
    border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
	margin-bottom: 5px;
	width: calc(var(--card-height) * .10);
	min-height: calc(var(--card-height) * .10);
}
