.wrapper-prerequisite{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    position: relative;

    width: 100%;

    font-size: small;
    & p {
        font-size: small;
    }
}
.prerequisite-summary-Text{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 20%;
    width: auto;
    height: 100%;

    border: grey 2px solid;
    background: rgba($color: grey, $alpha: .6);
    border-radius: 25%;
    &.min{
        border: gold 2px solid;
    }
    &.max{
        border: orangered 2px solid;
    }
}
.prerequisite-text{
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 5%;
    flex-grow: 1;
    height: 100%;
}
