@use '../../../../styles/abstracts/colors' as colors;
:host{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.wrapper-group-ready{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 5px 15px;
	width: 900px;
	@media (max-width: 1900px) {
		width: 500px;
	}
}
.wrapper-player-ready-outer{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 150px;
	height: 100%;
}
app-player-name{
	height: 100%;
}
