<div [ngClass]="['wrapper-main', interfaceSize]">
	<ng-container *ngFor="let phase of selectedPhaseList">
		<ng-container>
			<div [ngClass]="['wrapper-phase']">
				<div [ngClass]="['wrapper-image', interfaceSize]"
					[class.current]="isCurrentPhase(phase)">
					<app-text-with-image [rawText]="'$other_phase_'+ (phase | lowercase) +'$'"></app-text-with-image>
				</div>
				<div [ngClass]="['wrapper-player-selected', interfaceSize]"
					[class.current]="isCurrentPhase(phase)">
					<ng-container *ngFor="let c of getSelected(phase)">
						<div [ngClass]="[
							'color--'+c.color,
							'wrapper-color',
							c.self?'self':''
							]">
						</div>
					</ng-container>
				</div>
			</div>
			<div class="wrapper-next"
				*ngIf="phase!=selectedPhaseList[selectedPhaseList.length-1]">
			</div>
		</ng-container>
	</ng-container>
</div>
