<div class="background ares-background ares-border"></div>
<ng-container *ngFor="let phase of selectedPhaseList">
	<ng-container>
		<div class="wrapper-phase">
			<div class="wrapper-image"
				[class.current]="currentPhase.toString()===phase.toString()">
				<app-text-with-image [rawText]="'$other_phase_'+ (phase | lowercase) +'$'"></app-text-with-image>
			</div>
			<div class="wrapper-player-selected">
				<ng-container *ngFor="let c of getSelected(phase)">
					<div [ngClass]="[
						'color--'+c.color,
						'wrapper-color',
						c.self?'self':''
						]">
					</div>
				</ng-container>
			</div>
		</div>
		<div class="wrapper-next"
			*ngIf="phase!=selectedPhaseList[selectedPhaseList.length-1]">
			<app-text-with-image [rawText]="'$other_next$'"></app-text-with-image>
		</div>
	</ng-container>
</ng-container>
