@use '../../../../styles/abstracts/colors' as colors;
$padding: 7px;
.wrapper-main{
	z-index: 1000;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: left;
	height: auto;
	min-width: 60px;
	border-left: 0;
	overflow: visible;
	padding: $padding;

	margin-top: 5px;
	margin-bottom: 5px;

	top: 320px;
	&.small{
		top: 250px;
		min-width: 40px;
	}
}
.wrapper-phase{
	display: flex;
	gap: $padding *2.5;
}
.wrapper-image{
	filter: grayscale(80%);
	& ::ng-deep app-text-with-image img{
		width: 100%;
	}
	&.current{
		filter: grayscale(0);
		border-radius: 5px;
		box-shadow: 0 0 5px 3px var(--color-ares-orange);
		background: var(--color-ares-orange);
	}
	& ::ng-deep app-text-with-image{
		* {
			display: block;
		}
		img{
			width: 100%;
			aspect-ratio: 1;
		}
	}
}
.wrapper-next{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
	& app-text-with-image{
		width: 40%;
		aspect-ratio: 1;
	}
	& ::ng-deep app-text-with-image{
		img{
			width: 100%;
			aspect-ratio: 1;
		}
	}
}
.wrapper-player-selected{

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	width: fit-content;
	height: 40px;
	gap: 3px;
}
.wrapper-color{
	width: 12px;
	aspect-ratio: 1;
	border-radius: 50%;
	&.color--white{
		border-color: rgb(225, 225, 225);
		outline-color: rgb(225, 225, 225);
	}
	@each $name, $value in colors.$colors {
		&.color--#{$name}{
			background-color: rgba($value, 1);
			box-shadow: 0 0 4px 0px $value;
			border: var(--color-ares-#{$name}-dark) solid 1px;
			&.self{
				border-radius: 2px;
			}
        }
    }
	@media (max-width: 1919px) {
		width: 9px;
	}
}
.small{
	height: 30px;
	&.current{
		height: 40px;
	}
}
.medium{
	height: 40px;
	&.current{
		height: 60px;
	}
}
