<div class="main">
	<div class="wrapper-ocean">
		<app-ocean-card [addEop]="_oceanState.addEndOfPhase" [currentStep]="_oceanState.value"></app-ocean-card>
	</div>
	<div class="wrapper-other">
		<div class="wrapper-parameter-card">
			<app-global-parameter-card [parameter]="'temperature'" [addEop]="_temperatureState.addEndOfPhase" [currentStep]="_temperatureState.value"></app-global-parameter-card>
		</div>
		<div class="wrapper-parameter-card">
			<app-global-parameter-card [parameter]="'oxygen'" [addEop]="_oxygenState.addEndOfPhase" [currentStep]="_oxygenState.value"></app-global-parameter-card>
		</div>
		<div class="wrapper-parameter-card">
			<app-global-parameter-card [parameter]="'infrastructure'" [addEop]="_infrastructureState.addEndOfPhase" [currentStep]="_infrastructureState.value"></app-global-parameter-card>
		</div>
	</div>
</div>
