:host{
	height: 100%;
	width: 100%;
	//border: blue solid 1px;
}
.main{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	gap: 3%;
	width: 100%;
	height: 100%;
}
.wrapper-parameter-card{
	display: flex;
	//position: relative;
	//height: 20%;
	width: 100%;
	max-height: 25%;
	//flex-grow: 1;
	//border: red solid 1px;
}
app-global-parameter-card{
	//flex-grow: 1;
	width: 100%;
	height: 100%;
	//height: 100%;
	//border: green solid 3px;
	display: block;
}
