<div class="main">
	<div class="wrapper-ocean">
		<app-ocean-card></app-ocean-card>
	</div>
	<div class="wrapper-other">
		<div class="wrapper-parameter-card">
			<app-global-parameter-card [parameter]="'temperature'"></app-global-parameter-card>
		</div>
		<div class="wrapper-parameter-card">
			<app-global-parameter-card [parameter]="'oxygen'"></app-global-parameter-card>
		</div>
		<div class="wrapper-parameter-card">
			<app-global-parameter-card [parameter]="'infrastructure'"></app-global-parameter-card>
		</div>
	</div>
</div>
