@use '../../../../styles/abstracts/colors' as colors;
:host{
	height: 100%;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: solid 1px silver;
}
.wrapper-main{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	height: fit-content;
	min-height: 95%;
	width: 100%;
	padding: 2px;
	&.claimed{
		background: rgba(255, 194, 39, 0.25);
	}
}
.wrapper-image{
	height: 18px;
	padding-bottom: 2px;
	object-fit: contain;
	display: flex;
	&.claimed{
		& > app-text-with-image {
			filter: grayscale(60%);
		}
		width: 100%;
	}
}
.wrapper-bottom{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	gap: 2px 2px;
	.claimed{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}
	.unclaimed{
		display: flex;
		height: 100%;
		width: 100%;
	}
}
.box-player{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 13px;
	background-color: white;
	border-radius: 3px;

	width: 31%;
	&.group-1, &.group-2, &.group-3{
		flex: 1;
	}
	p{
		text-align: center;
	}
	@each $name, $value in colors.$colors{
		&.#{$name}{
			background-color: $value;
		}
	}
}
img{
	position: absolute;
	height: 80%;
	top: -2px;
	right: -2px;
}
.wrapper-text{
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	padding-right: 2px;
	&.production{
		justify-content: center;
		min-width: 25px;
	}
	&.non-production{
		justify-content: right;
	}
}
.production-bar{
	position: absolute;
	bottom: 0;
	height: 3px;
	width: 100%;
	border-radius: 5px;
	border-radius: 2px;
	background-size: 10px 80px;
}
.non-production-text{
	color: white;
	font-size: 15px;
	text-align: right;
}
.production-text{
	font-size: 14px;
	color: orange;
}
.wrapper-helper{
	z-index: 1;
	position: absolute;
	display: flex;
	backdrop-filter: blur(10px);
	background-color: rgba(128, 128, 128, 0.19);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.hovered{
	cursor: default;
}
