<div [ngClass]="['wrapper-main', isClaimed()?'claimed':'', _hovered?'hovered':'']"
	(mouseenter)="_hovered=true"
	(mouseleave)="_hovered=false">
	<div [ngClass]="['wrapper-image']">
		<div [ngClass]="['wrapper-text', isProduction()?'production':'non-production']">
			<div *ngIf="isProduction()" class="production-bar background-production--red"></div>
			<p *ngIf="isProduction()" class="production-text">+{{getCaption()}}</p>
			<p *ngIf="isProduction()===false" class="non-production-text">{{getCaption()}}</p>
		</div>
		<app-text-with-image [rawText]="getIcon()" [context]="isClaimed()?'milestoneClaimed':'milestone'"></app-text-with-image>
	</div>
	<div class="wrapper-bottom">
		<div class="unclaimed"
			*ngIf="claimed?.color?.length===0">
			<ng-container *ngFor="let m of milestone.value">
				<div [ngClass]="['box-player', m.color, 'group-'+milestone.value.length]">
					<p>{{m.playersValue}}</p>
				</div>
			</ng-container>
		</div>
		<div class="claimed"
			*ngIf="isClaimed()">
			<ng-container *ngFor="let c of getClaimedColors()">
				<div [ngClass]="['box-player', c]">
					<img *ngIf="isClaimed()" src="/assets/other/ready.png" alt="">
				</div>
			</ng-container>
		</div>
	</div>
	<div class="wrapper-helper"
		@fadeIn
		*ngIf="_hovered">
		<app-text-with-image [rawText]="getHelper()" [context]="'milestoneAwardHelper'"></app-text-with-image>
	</div>
</div>
