.tag-pannel {
    display: flex;
    //justify-content: space-between;

	border: rgba(rgb(255, 129, 25), .5) solid 1px;
	border-radius: 5px;
	height: var(--interface-line);
	padding: 1px;
	&.small{
		flex-wrap: wrap;
		width: calc(27px * var(--tags-per-row));
		height: calc(var(--interface-line) * 2 + var(--interface-line-gap));
	}
}
app-tag-card{
    height: var(--interface-line);
}
