:host{
	--command-pannel-height: 0px;
	--event-min-height: 55vh;
}
#command-pannel {
    z-index: 10;
    position: sticky;
    left: 0%;
    top: calc(var(--navbar-height));

    display: flex;
    flex-direction: row;
    align-items: top;
	justify-content: space-between;
	pointer-events: none;
}
app-non-event-button, app-event-main-button{
	pointer-events: all;
}
.left-command{
	position: relative;
	display: flex;
	height: fit-content;
	padding-left: 20px;
	padding-top: 30px;
	&.small{
		padding-left: 15px;
		padding-top: 25px;
	}
	& > div {
		position: relative;
		&.rollback{
			&.small{
				top: -15px;
				left: -12px;
			}
			&.medium {
				top: -20px;
				left: -14px;
			}
		}
		&.sell{
			&.small{
				top: 9px;
				left: -19px;
			}
			&.medium {
				top: 12px;
				left: -24px;
			}
		}
		&.upgrade{
			&.small{
				top: -15px;
				left: -26px;
			}
			&.medium {
				top: -20px;
				left: -34px;
			}
		}
	}
	& > .wrapper-event-button{
		&--big{
			&.small{
				height: 80px;
			}
			&.medium {
				height: 100px;
			}
		}
		&--medium{
			&.small{
				height: 42px;
			}
			&.medium {
				height: 56px;
			}
		}
		&--small{
			&.small{
				height: 30px;
			}
			&.medium {
				height: 40px;
			}
		}
	}
}
.wrapper-card-selector{
    width: 100%;
	height: fit-content;
}
.wrapper-selection-active{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.selection-active-left{
	position: relative;
    height: 100%;
    width: 2%;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0))

}
.selection-active-right{
	position: relative;
    height: 100%;
    width:2%;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0))
}
app-hexed-tooltip-background{
	width: 100%;
}
.wrapper-title{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    top: calc(-1 * var(--command-pannel-height));
	height: var(--command-pannel-height);
}
.wrapper-game-event{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
	height: auto;
}
.wrapper-event-main{
	display: flex;
	flex-direction: column;
    position: relative;
    margin-top: calc(-1 * var(--command-pannel-height) * 2);
    width: 100%;
	height: fit-content;
	padding-top: 1%;
	min-height: var(--event-min-height);
}
.wrapper-event-top{
	position: relative;
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: top;
	flex: 1;
	height: fit-content;

	margin-top: var(--command-pannel-height);
	min-height: var(--event-min-height);
	margin-left: calc(60px + 7px * 2 + 3px);
	&.flex-column{
		flex-direction: column;
	}
	&.center{
		align-items: center;
	}

	margin-right: calc(var(--settings-button-size) / 2);
}
app-card-builder-list{
	height: fit-content;
	width: 100%;
}
.wrapper-selectors{
    display: flex;
	flex-grow: 1;
}
.wrapper-event-description{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 50%;
	& > * {
		width: 100%;
		height: auto;
		white-space: normal;
	}
}
app-phase-card-upgrade-selector{
	width: 100%;
}
.wrapper-other-event{
	flex-grow: 1;
}

app-phase-action{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-grow: 1;
}
