$description-pannel-margin-top: 2%;
$description-pannel-margin-left: 2%;

:host{
	--command-pannel-height: 0px;
	--event-min-height: 55vh;
}
#command-pannel {
	$command-pannel-padding: 1%;
	$command-pannel-width: 240px;
	width: calc($command-pannel-width + $command-pannel-padding * 2);
	@media (max-width: 1919px) {
		$command-pannel-width: 160px;
		width: calc($command-pannel-width + $command-pannel-padding * 2);
	}
    z-index: 10;
    position: sticky;
    left: 0%;
    top: calc(var(--navbar-height));
    max-height: 100%;
    aspect-ratio: 3;
    padding: $command-pannel-padding;
	padding-right: 0;

    display: flex;
    flex-direction: row;
    align-items: top;
	justify-content: space-between;
}
#round-pannel{
	z-index: 1000;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	width: 60px;
	@media (max-width: 1919px) {
		width: 40px;
	}
	top: 34%;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	overflow: hidden;
}
.wrapper-phase{
	filter: grayscale(80%);

	& ::ng-deep app-text-with-image img{
		width: 100%;
	}
	margin: 10%;

	&.current{
		filter: grayscale(0);
		border-radius: 5px;
		box-shadow: 0 0 5px 3px var(--color-ares-orange);
		background: var(--color-ares-orange);
	}
	& ::ng-deep app-text-with-image{
		* {
			display: block;
		}
		img{
			width: 100%;
			aspect-ratio: 1;
		}
	}
}
.wrapper-next{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	aspect-ratio: 1;

	& ::ng-deep app-text-with-image{
		* {
			display: block;
		}
		img{
			width: 100%;
			aspect-ratio: 1;
		}
	}

}
.wrapper-card-selector{
    width: 100%;
	height: fit-content;
}
.wrapper-selection-active{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.selection-active-left{
	position: relative;
    height: 100%;
    width: 2%;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0))

}
.selection-active-right{
	position: relative;
    height: 100%;
    width:2%;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0))
}
app-hexed-tooltip-background{
	width: 100%;
}
.wrapper-event-button{
	height: 100%;
	&--smaller{
		height: 70%;
	}
}
.wrapper-title{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    top: calc(-1 * var(--command-pannel-height));
	height: var(--command-pannel-height);
}
.wrapper-game-event{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
	height: auto;
}
.wrapper-event-main{
	display: flex;
	flex-direction: column;
    position: relative;
    margin-top: calc(-1 * var(--command-pannel-height) * 2);
    width: 100%;
	height: fit-content;
	padding-top: 1%;
	min-height: var(--event-min-height);
}
.wrapper-event-top{
	position: relative;
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: top;
    width: calc(100% - var(--settings-button-size));
	height: fit-content;
	margin-left: calc(var(--settings-button-size) / 2);
	margin-right: calc(var(--settings-button-size) / 2);
	margin-top: var(--command-pannel-height);
	min-height: var(--event-min-height);
	&.flex-column{
		flex-direction: column;
	}
	&.center{
		align-items: center;
	}
}
.wrapper-builder{
	position: sticky;
	top: calc(var(--navbar-height) + var(--command-pannel-height));
	$padding: 0%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	width: 40%;
	height: fit-content;

	padding-left: $padding;
	padding-right: $padding;
	padding-top: calc($padding / 2)
}
app-card-builder-list{
	height: fit-content;
	width: 100%;
}
.wrapper-selectors{
    display: flex;
	//height: fit-content;
	flex-grow: 1;
	&.centered{
		align-items: center;
		justify-content: center;
	}
}
.wrapper-event-description{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
app-phase-card-upgrade-selector{
	width: 100%;
}
.wrapper-other-event{
	flex-grow: 1;
}

app-phase-action{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-grow: 1;
}
