$description-pannel-margin-top: 2%;
$description-pannel-margin-left: 2%;

:host{
	--command-pannel-height: 0px;
	--event-min-height: 55vh;
	@media (max-width:1900px) {
		--event-min-height: 40vh;
	}
}
#command-pannel {
	$command-pannel-padding: 1%;
	$command-pannel-width: 240px;
	//width: calc($command-pannel-width + $command-pannel-padding * 2);
	width: 100%;
    z-index: 10;
    position: sticky;
    left: 0%;
    top: calc(var(--navbar-height));

    display: flex;
    flex-direction: row;
    align-items: top;
	justify-content: space-between;
	pointer-events: none;
}
app-non-event-button, app-event-main-button{
	pointer-events: all;
}
.left-command, .right-command{
	display: flex;
	gap: 5px;
	height: 100%;
	height: 100px;
	max-height: 100%;
	margin: 20px;
}
.wrapper-card-selector{
    width: 100%;
	height: fit-content;
}
.wrapper-selection-active{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.selection-active-left{
	position: relative;
    height: 100%;
    width: 2%;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0))

}
.selection-active-right{
	position: relative;
    height: 100%;
    width:2%;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0))
}
app-hexed-tooltip-background{
	width: 100%;
}
.wrapper-event-button{
	&--big{
		height: 100%;
	}
	&--medium{
		height: 70%;
	}
	&--small{
		height: 50%;
	}
}
app-group-waiting{
	height: 100%;
}
.wrapper-group-waiting{
	height: 30px;
	position: relative;
	top: calc(-1 * var(--command-pannel-height) + 10px);
}
.wrapper-title{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    top: calc(-1 * var(--command-pannel-height));
	height: var(--command-pannel-height);
}
.wrapper-game-event{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
	height: auto;
}
.wrapper-event-main{
	display: flex;
	flex-direction: column;
    position: relative;
    margin-top: calc(-1 * var(--command-pannel-height) * 2);
    width: 100%;
	height: fit-content;
	padding-top: 1%;
	min-height: var(--event-min-height);
}
.wrapper-event-top{
	position: relative;
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: top;
	flex: 1;
	height: fit-content;

	margin-top: var(--command-pannel-height);
	min-height: var(--event-min-height);
	margin-left: calc(60px + 7px * 2 + 3px);
	&.flex-column{
		flex-direction: column;
	}
	&.center{
		align-items: center;
	}

	margin-right: calc(var(--settings-button-size) / 2);
	@media (max-width: 1900px) {
		margin-right: 20px;
	}
}
app-card-builder-list{
	height: fit-content;
	width: 100%;
}
.wrapper-selectors{
    display: flex;
	flex-grow: 1;
	&.centered{
		align-items: center;
		justify-content: center;
	}
}
.wrapper-event-description{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
app-phase-card-upgrade-selector{
	width: 100%;
}
.wrapper-other-event{
	flex-grow: 1;
}

app-phase-action{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-grow: 1;
}
