<div class="wrapper-game-event" *ngIf="currentEvent">
	<div id="command-pannel">
		<div class="left-command">
			<div *ngIf="currentEvent.button" class="wrapper-event-button--big wrapper-validate-button">
				<app-event-main-button  [button]="currentEvent.button" [shape]="'hex_floating'" (buttonClicked)="eventMainButtonClicked()"></app-event-main-button>
			</div>
			<div *ngIf="rollbackButton.displayed" class="wrapper-event-button--medium">
				<app-non-event-button  [button]="rollbackButton" [shape]="'hex_floating'" (buttonClicked)="nonEventButtonClicked(rollbackButton)"></app-non-event-button>
			</div>
			<div *ngIf="sellCardsButton.displayed" class="wrapper-event-button--small wrapper-sell-button">
				<app-non-event-button  [button]="sellCardsButton" [shape]="'hex_floating'" (buttonClicked)="nonEventButtonClicked(sellCardsButton)"></app-non-event-button>
			</div>
			<div *ngIf="sellCardsCancelButton.displayed" class="wrapper-event-button--small">
				<app-non-event-button  [button]="sellCardsCancelButton" [shape]="'hex_floating'" (buttonClicked)="nonEventButtonClicked(sellCardsCancelButton)"></app-non-event-button>
			</div>
			<div *ngIf="displayPhaseUpgradeButton.displayed" class="wrapper-event-button--small">
				<app-non-event-button  [button]="displayPhaseUpgradeButton" [shape]="'hex_floating'" (buttonClicked)="nonEventButtonClicked(displayPhaseUpgradeButton)"></app-non-event-button>
			</div>
			<!--
				<div *ngIf="displayPhaseUpgradeButton.displayed" class="wrapper-event-button--small">
					<app-non-event-button  [button]="killCard" [shape]="'hex_floating'" (buttonClicked)="nonEventButtonClicked(killCard)"></app-non-event-button>
				</div>
			-->
		</div>
		<div class="right-command">
		</div>
	</div>
	<div class="wrapper-title">
		<div *ngIf="currentEvent.title!=undefined" class="wrapper-event-description ares-title">
			<h1 *ngIf="currentEvent.title!=undefined">{{currentEvent.title}}</h1>
		</div>
	</div>
	<div @enterFromLeft id="round-pannel" class="ares-background ares-border"
		*ngIf="currentPhase!='PLANIFICATION' && _selectedPhaseList.length!=0">
		<ng-container *ngFor="let phase of _selectedPhaseList">
			<ng-container>
				<div class="wrapper-phase"
					[class.current]="currentPhase.toString()===phase.toString()">
					<app-text-with-image [rawText]="'$other_phase_'+ (phase | lowercase) +'$'"></app-text-with-image>
				</div>
				<div class="wrapper-next"
					*ngIf="phase!=_selectedPhaseList[_selectedPhaseList.length-1]">
					<app-text-with-image [rawText]="'$other_next$'"></app-text-with-image>
				</div>
			</ng-container>
		</ng-container>
	</div>
    <div class="wrapper-event-main">
		<div class="wrapper-event-top"
			[class.flex-column]="currentEvent.subType==='actionPhase'">
			<div class="wrapper-other-event"
				*ngIf="currentEvent.subType==='planificationPhase' || currentEvent.subType==='productionPhase'
				|| currentEvent.subType==='actionPhaseActivator' || currentEvent.subType==='upgradePhaseCards'
				|| currentEvent.subType==='selectStartingHand' || currentEvent.subType==='selectCorporation'
				|| currentEvent.subType==='selectMerger'
				|| currentEvent.subType==='waitingGroupReady' || currentEvent.hasCardBuilder()
				|| currentEvent.subType==='tagSelector' || currentEvent.subType==='selectCardOptionalSell'
				|| currentEvent.subType==='selectCardForcedSell' || currentEvent.subType==='effectPortal'"
				@fadeIn>
				<app-phase-planification
					*ngIf="currentPhase==='PLANIFICATION' && currentEvent.subType==='planificationPhase'"
					@fadeIn
					[event]="currentEvent"
					(phaseSelected)="onPhaseSelected()"></app-phase-planification>
				<app-phase-production
					*ngIf="currentPhase==='PRODUCTION' && currentEvent.subType==='productionPhase'"
					@fadeIn
					[event]="currentEvent">
				</app-phase-production>
				<app-phase-action
					*ngIf="currentPhase==='ACTION' && currentEvent.subType==='actionPhaseActivator'"
					[event]="this.currentEvent"
					(actionPhaseButtonUpdate)="onActionPhaseStateUpdate()"
					(projectActivated)="onProjectActivated($event)">
				</app-phase-action>
				<app-phase-card-upgrade-selector
					*ngIf="currentEvent.subType==='upgradePhaseCards'"
					[event]="currentEvent">
				</app-phase-card-upgrade-selector>
				<app-initial-draft
					*ngIf="currentEvent.subType==='selectStartingHand' || currentEvent.subType==='selectCorporation'
						|| currentEvent.subType==='selectMerger'"
					[event]="currentEvent"
					(updateSelectedCardList)="onUpdateSelectedCardList($event)">
				</app-initial-draft>
				<app-waiting-ready
					*ngIf="currentEvent.subType==='waitingGroupReady'"
					[event]="currentEvent">
				</app-waiting-ready>
				<app-phase-builder
					*ngIf="currentEvent.hasCardBuilder()"
					@fadeIn
					[event]="currentEvent"
					[currentPhase]="currentPhase"
					(cardBuilderButtonClicked)="onCardBuilderButtonClicked($event)"
					(updateSelectedCardList)="onUpdateSelectedCardList($event)">
				</app-phase-builder>
				<app-tag-gain-list
					*ngIf="currentEvent.subType==='tagSelector'"
					[event]="currentEvent">
				</app-tag-gain-list>
				<app-sell-cards
					*ngIf="currentEvent.subType==='selectCardOptionalSell' || currentEvent.subType==='selectCardForcedSell'"
					[event]="currentEvent"
					(updateSelectedCardList)="onUpdateSelectedCardList($event)">
				</app-sell-cards>
				<app-effect-portal
					*ngIf="currentEvent.subType==='effectPortal'"
					[event]="currentEvent">

				</app-effect-portal>
			</div>
			<div class="wrapper-selectors"
				*ngIf="currentEvent.hasCardsToSelectFrom() &&currentEvent.subType!='actionPhaseActivator'
					&& currentEvent.subType!='selectStartingHand' && currentEvent.subType!='selectCorporation'
					&& currentEvent.subType!='selectMerger'
					&& !currentEvent.hasCardBuilder() && currentEvent.subType!='selectCardOptionalSell'
					&& currentEvent.subType!='selectCardForcedSell'"
				[class.centered]="currentEvent.hasCardBuilder() === false"
				@fadeIn>
				<div class="wrapper-card-selector" >
					<app-playable-card-list #cardListSelector
						[currentPhase]="currentPhase"
						[event]="currentEvent"
						[listType]="currentEvent.hasCardBuilder()?'builderSelector':'selector'"
						[listSubType]="'none'"
						(updateSelectedCardList)="onUpdateSelectedCardList($event)"
						(projectActivated)="onProjectActivated($event)">
					</app-playable-card-list>
				</div>
			</div>
		</div>
    </div>
</div>
<div class="wrapper-selection-active"
	*ngIf="currentEvent?.getSelectionActive()===true"
	@fadeInFadeOut
	[ngClass]="currentEvent?.getSelectionActive()===true?  'element-fade-in':'element-fade-out'">
    <div class="selection-active-left">

	</div>
    <div class="selection-active-right"></div>
</div>
