<div class="wrapper-main">
	<h1 class="ares-title">{{getTitle('newGameLinkTitle')}}</h1>
	<div class="wrapper-menu ares-background ares-border">
		<div class="wrapper-links">
			<h2>{{getTitle('newGameLinkPlayerLaunchSite')}}</h2>
			<ng-container *ngFor="let player of players">
				<div [ngClass]="'wrapper-player--'+player.color">
					<p>{{player.name}}:</p>
					<a href="game/{{gameId}}/{{player.id}}">{{rootUrl}}/game/{{gameId}}/{{player.id}}</a>
				</div>
			</ng-container>
		</div>
		<div class="wrapper-options">
			<h2>{{getTitle('newGameLinkGameOptions')}}</h2>
			<p>{{options | json}}</p>
		</div>
	</div>
	<app-hexed-background [autoFillHexSize]="'medium'"></app-hexed-background>
</div>
