:host{
	display: flex;
	justify-content: space-around;
	height: 100%;
	gap: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.wrapper-info{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	height: 100%;
	min-width: 60px;
	& > img{
		height: 70%;
	}
	& > p {
		color: white;
		font-size: 18px;
	}
}
