<nav id="nav"
	@fadeIn
	(@expandCollapseVertical.done)="updateNavHeight()">
	<app-global-parameter-pannel class="ares-navigation-pannel"></app-global-parameter-pannel>
	<div class="wrapper-player-pannel ares-navigation-pannel"
		[class.hovered]="_playerPannelIsHovered"
		(mouseenter)="_playerPannelIsHovered=true"
		(mouseleave)="_playerPannelIsHovered=false"
		@fadeIn>
		<ng-container *ngFor="let id of _playerIdList">
			<app-player-pannel
				[@expandCollapseVertical]
				(@expandCollapseVertical.done)="updateNavHeight()"
				*ngIf="_playerPannelIsHovered || id===clientPlayerId" [playerId]="id">
			</app-player-pannel>
		</ng-container>
	</div>
	<span *ngIf="!discoveryActive" class="wrapper-awards"></span>
	<app-milestone-and-award *ngIf="discoveryActive" class="ares-navigation-pannel"></app-milestone-and-award>
</nav>
