$nav-gap: 1.5%;

:root {
	--navbar-height: 0px;
}

#nav{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.wrapper-player-pannel{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	pointer-events: all;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 5px;
	background: linear-gradient(to top, rgba(black, .4) 20%, rgba(0, 0, 0, 0.8) 100%);

	&.hovered{
		background: rgba(0, 0, 0, 0.6);
		box-shadow: 0 0 10px 5px rgba(rgb(255, 129, 25), .8);
	}
}
app-global-parameter-pannel{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	height: 100%;
	width: 300px;
	gap: 1%;
	& > h1 {
		display: inline-block;
		text-align: center;
	}
	pointer-events: all;
}
.wrapper-awards{
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	top: 0;
	width: 300px;

	& > h1 {
		display: inline-block;
		text-align: center;
	}
	pointer-events: all;
}
app-milestone-and-award{
	height: 100%;
	width: 300px;
	gap: 1%;
	& > h1 {
		display: inline-block;
		text-align: center;
	}
	pointer-events: all;
}
