<nav id="nav"
	@fadeIn
	(@expandCollapseVertical.done)="updateNavHeight()">
	<div class="wrapper-global-parameter">
		<app-global-parameter-pannel class="ares-navigation-pannel"></app-global-parameter-pannel>
	</div>
	<div class="wrapper-player-pannel ares-navigation-pannel"
		[class.hovered]="_playerPannelIsHovered"
		(mouseenter)="_playerPannelIsHovered=true"
		(mouseleave)="_playerPannelIsHovered=false"
		@fadeIn>
		<ng-container *ngFor="let id of _playerIdList">
			<app-player-pannel
				class="animated"
				[@expandCollapseVertical]
				(@expandCollapseVertical.done)="updateNavHeight()"
				*ngIf="_playerPannelIsHovered || id===clientPlayerId" [playerId]="id">
			</app-player-pannel>
		</ng-container>
	</div>
	<span class="wrapper-awards"></span>
	<!--
	<div class="wrapper-awards ares-background ares ares-border">
			<h1>awards here</h1>
		</div>
		-->
</nav>
