.wrapper-main{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.wrapper-buttons{
	display: flex;
	justify-content: center;
	width: fit-content;
	gap: 5px;
	flex-wrap: wrap;
	margin-bottom: 3%;
	padding: 20px;
}
app-non-event-button{
	height: 60px;
	width: fit-content;
}
:host::ng-deep app-text-with-image .wrapper-megacredit{
	width: 20%;
}

