.small {
	--card-width: var(--card-width--small);
	--card-height: var(--card-height--small);
	--card-text-size: var(--card-text-size--small);
	--card-element-padding: var(--card-element-padding--small)
	--card-effect-height: var(--card-effect-height--small)
	--card-text-right-padding: var(--card-text-right-padding--small)
}
.medium {
	--card-width: var(--card-width--medium);
	--card-height: var(--card-height--medium);
	--card-text-size: var(--card-text-size--medium);
	--card-element-padding: var(--card-element-padding--medium)
	--card-effect-height: var(--card-effect-height--medium)
	--card-text-right-padding: var(--card-text-right-padding--medium)
}
$card-bottom-padding: calc(var(--card-height) * .015);
:host ::ng-deep p  {
    color: white;
	width: fit-content;
}
button {
    background: transparent;
	&.hovered.selectable{
		cursor: pointer;
	}
}
.wrapper-main{
	z-index: 0;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: calc(var(--card-height) * .05);
	&.hovered.selectable{
		z-index: 10;
	}
	&.small{
		&::ng-deep p  {
			font-size: var(--card-text-size);
		}
	}
	&.medium{
		&::ng-deep p  {
			font-size: var(--card-text-size);
		}
	}
	&.stats{
		width: fit-content;
		display: flex;
	}
}
.wrapper-border{
	position: relative;
	border: black solid 2px;
    border-radius: calc(var(--card-height) * .05);
	overflow: hidden;
	height:var(--card-height);
    width: var(--card-width);
}
.wrapper-inner{
    z-index: 0;
    position: relative;

	display: flex;
	flex-direction: column;
	gap: 0px;

    height: var(--card-height);
    width: var(--card-width);
	background: transparent;
	border: 0;
	overflow: hidden;
}
.wrapper-core{
	position: relative;
    $selection-offset: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;
	border: 0;
	&.selectable{
		filter: grayscale(40%);
		&.hovered{
			filter: grayscale(0%);
			background: rgba($color: #000000, $alpha: .5);
			outline-offset: 5px;
			outline: white solid 2px;
			box-shadow: 0 0 10px 10px white;
			cursor: pointer;
			&.disabled{
				filter: grayscale(90%);
			}
		}
	}
	&.selected{
		&.greyed-when-selected{
			filter: grayscale(90%);
		}
	}
	&.disabled{
		filter: grayscale(90%);
	}
}
.wrapper-card-element-main{
	display: flex;
    flex-direction: column;

	width: 100%;
	flex: 1;
	max-height: calc(var(--card-height) - var(--card-effect-height));
	padding-right: var(--card-element-padding);
}
.wrapper-card-element-left{
	position: absolute;
	width: 25%;
	z-index: 1;
    display: flex;
	flex-direction: column;
	top: 0;
	left: 0;

	height: calc(var(--card-height) - var(--card-effect-height) - 10px);
}
.wrapper-card-element-center{
	display: flex;
	flex-direction: column;
	margin-left: 23%;
	width: 77%;
	flex: 1;
}
.wrapper-left-layout{
    top: 0;
    position: absolute;
    height: 100%;
}
.disabled{
	filter: grayscale(100%);
}
.wrapper-card-element-top{
	display: flex;
	margin-left: 25%;
}
.wrapper-card-element-bottom{
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
	height: auto;
	flex: .3;
	&.grow{
		flex: 1;
	}
}
app-card-vp{
	width: 100%;
	flex: 1;
}
app-card-cost{
	width: 100%;
	height: 30%;
}
app-card-background{
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
	height: 100%;
	width: 100%;
}
app-card-prerequisite, app-card-played-info{
	width: auto;
	padding-right: var(--card-text-right-padding);
}
app-card-effect{
	width: 100%;
	padding-right: var(--card-text-right-padding);
}
app-card-tags-zone{
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 103%;
}
app-card-tags{
	width: 80%;
	flex: 1;
}
app-card-activation-list{
	position: relative;
	z-index: -2;
	width: var(--card-width);
	height: 100%;
}
app-card-title{
	flex: 1;
}
app-card-starting-megacredits{
	width: 25%;
	height: 100%;
}
app-card-status {
	position: absolute;
	bottom: 0;
}
app-card-disabled-foreground{
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--card-height);
	&.hovered{
		opacity: 20%;
	}
}
