$card-bottom-padding: calc(var(--card-height) * .015);
:host ::ng-deep p  {
    color: white;
    font-size: var(--text-size);
}
:host ::ng-deep app-text-with-image .text-tag{
    $tag-max-size: calc(var(--text-size) * 1.5);
    top: 0;
    max-width: $tag-max-size;
    max-height: $tag-max-size;
}
:host ::ng-deep app-text-with-image .wrapper-megacredit{
    $tag-max-size: calc(var(--text-size) * 1.5);
    top: 0;
    width: $tag-max-size;
    height: $tag-max-size;
}
:host ::ng-deep .effect-summary-text.text-tag{
    $tag-max-size: calc(var(--text-size) * 5);
    top: 0;
    width: $tag-max-size;
    height: $tag-max-size;
}
button {
    background: transparent;
	&.hovered.selectable{
		cursor: pointer;
	}
}
.wrapper-main{
	z-index: 0;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: calc(var(--card-height) * .05);
	&.hovered.selectable{
		z-index: 10;
	}
}
.wrapper-card{
    z-index: 0;
    position: relative;

	display: flex;
	flex-direction: column;
	gap: 5px;

    height: var(--card-height);
    width: var(--card-width);

    padding-bottom: $card-bottom-padding;
	overflow: hidden;
	border: black solid 2px;
    border-radius: calc(var(--card-height) * .05);

}
.wrapper-selection-border{
	position: relative;
    $selection-offset: 0px;
    border-radius: calc((var(--card-height) + $selection-offset)* .05);
    height: calc(var(--card-height) + $selection-offset);
    width: calc(var(--card-width) + $selection-offset);
    display: flex;
    justify-content: center;
    align-items: center;

	border: 0;

	&.selectable{
		filter: grayscale(40%);
		&.hovered{
			filter: grayscale(0%);
			background: rgba($color: #000000, $alpha: .5);
			outline-offset: 5px;
			outline: white solid 2px;
			box-shadow: 0 0 10px 10px white;
			cursor: pointer;
		}
	}
	&.selected{
		&.greyed-when-selected{
			filter: grayscale(100%);
		}
	}
}
.wrapper-card-element-main{
	display: flex;
    flex-direction: column;

	width: 100%;
	flex: 1;
	max-height: calc(var(--card-height) - var(--card-effect-height));
	padding-right: var(--card-element-padding);
}
.wrapper-card-element-left{
	position: absolute;
	width: 25%;
	z-index: 1;
    display: flex;
	flex-direction: column;
	top: 0;
	left: 0;

	height: calc(var(--card-height) - var(--card-effect-height) - 10px);
}
.wrapper-card-element-center{
	display: flex;
	flex-direction: column;
	margin-left: 23%;
	width: 77%;
	flex: 1;
}
.wrapper-left-layout{
    top: 0;
    position: absolute;
    height: 100%;
}
.disabled{
	filter: grayscale(100%);
}
.wrapper-card-element-top{
	display: flex;
	margin-left: 25%;
}
app-card-vp{
	width: 100%;
	flex: 1;
}
app-card-cost{
	width: 100%;
	height: 30%;
}
app-card-background{
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
	height: 100%;
	width: 100%;
}
app-card-effect, app-card-prerequisite, app-card-played-info{
	width: auto;
	padding-right: var(--card-text-right-padding);
}
app-card-tags-zone{
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 103%;
}
app-card-tags{
	width: 80%;
	flex: 1;
}
app-card-activation{
	width: 300px;
	height: 100%;
}
app-card-title{
	flex: 1;
}
app-card-starting-megacredits{
	width: 25%;
	height: 100%;
}
