<div class="wrapper-main"
	[ngClass]="[cardSize]"
	(mouseenter)="_hovered=true"
	(mouseleave)="_hovered=false">
	<div class="wrapper-border">
		<app-card-highlight *ngIf="state.isSelected()" [highlightStyle]="parentListSubType"></app-card-highlight>
		<app-card-disabled-foreground *ngIf="isDisabled()"
			[class.hovered]="_hovered"
			[cardType]="projectCard.cardType">
		</app-card-disabled-foreground>
		<div class="wrapper-core"
			[class]="parentListSubType"
			[class.selected]="state.isSelected()"
			[class.selectable]="isSelectable()"
			[class.hovered]="_hovered"
			[class.disabled]="isDisabled()"
			[class.greyed-when-selected]="isGreyedWhenSelected()">
			<button class="wrapper-inner"
				[class]="projectCard.cardType"
				[class.hovered]="_hovered"
				[class.selectable]="isSelectable()"
				(click)="cardClick()">
				<div class="wrapper-card-element-left">
					<app-card-cost
						*ngIf="projectCard.cardType!='corporation'"
						[cardType]="projectCard.cardType"
						[cardLocation]="parentListType"
						[costInitial]="projectCard.costInitial"
						[cost]="projectCard.cost"
						[cardSize]="cardSize">
					</app-card-cost>
					<app-card-tags [cardType]="projectCard.cardType" [tagsUrl]="projectCard.tagsUrl"></app-card-tags>
					<app-card-tags-zone *ngIf="projectCard.cardType!='corporation'"  [cardType]="projectCard.cardType"></app-card-tags-zone>
				</div>
				<div class="wrapper-card-element-main">
					<div class="wrapper-card-element-top">
						<app-card-title
							[title]="projectCard.getTitle()"
							[cardType]="projectCard.cardType"
							[cardSize]="cardSize">
						</app-card-title>
						<app-card-starting-megacredits
							*ngIf="projectCard.cardType==='corporation'"
							[startingMegacredits]="projectCard.startingMegacredits??0">
						</app-card-starting-megacredits>
					</div>
					<div class="wrapper-card-element-center">
						<app-card-prerequisite
							*ngIf="projectCard.hasPrerequisiteText()"
							[prerequisiteTresholdType]="projectCard.prerequisiteTresholdType"
							[prerequisiteSummary]="projectCard.getPrerequisiteSummary()"
							[prerequisiteText]="projectCard.getPrerequisiteText()"
							[cardSize]="cardSize">
						</app-card-prerequisite>
						<ng-container *ngIf="projectCard.hasPlayedText()">
							<app-card-played-info
								*ngFor="let text of projectCard.getPlayedText()"
								[playedText]="text"
								[cardSize]="cardSize">
							</app-card-played-info>
						</ng-container>
						<app-card-stock
							*ngIf="projectCard.stockable?.length!=0 && parentListType!='hand' && parentListType!='builderSelector' && parentListType!='builderSelectedZone'"
							[cardStock]="projectCard.stock"
							[cardSize]="cardSize">
						</app-card-stock>
						<app-card-vp
							*ngIf="projectCard.vpNumber || projectCard.scalingVp===true"
							[vpNumber]="projectCard.vpNumber??''"
							[vpDescription]="projectCard.getVpText()"
							[isScalingVp]="projectCard.scalingVp"
							[cardSize]="cardSize">
						</app-card-vp>
					</div>
				</div>
				<div [ngClass]="['wrapper-card-element-bottom', !projectCard.vpNumber?'grow':'']">
					<ng-container *ngFor="let effect of projectCard.getEffects()">
						<app-card-effect
							*ngIf="effect"
							[effectText]="projectCard.getEffectText(effect)"
							[effectSummaryText]="projectCard.getEffectSummaryText(effect)"
							[effectSummaryType]="effect.effectSummaryType"
							[cardSize]="cardSize">
						</app-card-effect>
					</ng-container>
				</div>
			</button>
			<div class="wrapper-left-layout">
				<div class="left-layout" [ngClass]="projectCard.cardType"></div>
				<div class="top-left-layout" [ngClass]="projectCard.cardType"></div>
			</div>
			<app-card-background [cardType]="projectCard.cardType"></app-card-background>
			<app-card-status [cardCode]="projectCard.cardCode" [cardStatus]="projectCard.status"  [hovered]="_hovered"></app-card-status>
		</div>
	</div>
	<app-card-activation-list
		*ngIf="state.isActivable()"
		[projectCard]="projectCard"
		[maximumCardActivation]="!isActivable()"
		[cardSize]="cardSize"
		(activated)="onActivation($event)">
	</app-card-activation-list>
</div>
