.wrapper-pannel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;

    width: auto;
    height: 100%;
}
.pannel-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    aspect-ratio: 1;
}
.card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    height: 55%;
    & img{
        max-height: 100%;
    }
}
.pannel-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.vp-icon{
    z-index: 1;
    position: relative;

    border-radius: 25%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(61, 61, 61);

    outline: rgb(216, 216, 216) 1px solid;
    outline-offset: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 80%;
    aspect-ratio: 1.5;

    background: linear-gradient(0deg, rgb(26, 17, 9) 0%, rgba(143,92,63,1) 35%, rgba(255,239,213,1) 100%);
    & p{
        font-size: 15px;
        font-weight: bold;
        color: black;      
    }
}
.wrapper-player-name{
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: rgba(red, .3);
    height: 100%;
    padding-left: 3%;
}