<div class="wrapper-pannel"
	[ngClass]="interfaceSize">
    <div class="previous-phase-selected" *ngIf="!gameOver">
        <div class="pannel-image">
			<img *ngIf="currentPhase=='PLANIFICATION' && playerPhase.previousSelectedPhase.toString()!='UNDEFINED'"
				class="heavy-greyed-filter"
				src="/assets/other/phase_{{playerPhase.previousSelectedPhase.toString().toLowerCase()}}.png"
				alt="">
			<img *ngIf="(currentPhase=='PLANIFICATION' || currentPhase=='UNDEFINED') && playerPhase.previousSelectedPhase.toString()==='UNDEFINED'"
				class="heavy-greyed-filter"
				src="/assets/other/phase_planification.png"
				alt="">
            <img *ngIf="currentPhase!='PLANIFICATION' && currentPhase!='UNDEFINED'"
				src="/assets/other/phase_{{playerPhase.currentSelectedPhase.toLowerCase()}}.png"
				alt="">
        </div>
    </div>
	<app-player-name [name]="playerState.getName()" [color]="playerState.getColor()"></app-player-name>
	<div class="pannel-card">
		<app-vp [vpNumber]="playerState.getTotalVP().toString()" [shape]="'square'"></app-vp>
	</div>
	<div class="wrapper-pannel-card pannel-border">
		<div class="pannel-card tr pannel-card-style">
			<div class="pannel-card-icon">
				<img src="/assets/other/tr.png" alt="">
			</div>
			<p class="pannel-text">{{playerState.getTR()}}</p>
		</div>
		<div [ngClass]="['separator']"></div>
		<div class="pannel-card forest pannel-card-style">
			<div class="pannel-card-icon">
				<img class="img-padding"
					src="/assets/other/forest.png" alt="">
			</div>
			<p class="pannel-text">{{playerState.getForest()}}</p>
		</div>
	</div>
	<div [ngClass]="['wrapper-pannel-card pannel-border', interfaceSize==='small'?'pannel-flex':'']">
		<div class="pannel-card phase-upgraded pannel-card-style"
			*ngIf="isDiscoveryActive()">
			<div class="pannel-card-icon">
				<img class="img-padding"
					src="/assets/other/phase_upgrade.png" alt="">
			</div>
			<p class="pannel-text">{{playerState.getPhaseCardUpgradedCount()}}</p>
		</div>
		<div [ngClass]="['separator']"></div>
		<div class="pannel-card research pannel-card-style">
			<div class="pannel-card-icon">
				<img class="img-padding"
					src="/assets/other/research_card.png" alt="">
			</div>
			<p class="pannel-text">{{playerState.getResearchScan()}}</p>
			<div class="pannel-card-icon">
				<img class="img-padding"
					src="/assets/other/research_card_keep.png" alt="">
			</div>
			<p class="pannel-text">{{playerState.getResearchKeep()}}</p>
		</div>
		<div [ngClass]="['separator']"></div>
		<div class="pannel-card activables pannel-card-style">
			<div class="pannel-card-icon">
				<img class="img-padding"
					src="/assets/other/activate.png" alt="">
			</div>
			<p class="pannel-text">{{playerState.getActivableCount()}}</p>
		</div>
		<div [ngClass]="['separator']"></div>
		<div class="pannel-card cards-played pannel-card-style">
			<div class="pannel-card-icon">
				<img class="img-padding"
					src="/assets/other/omnicard.png" alt="">
			</div>
			<p class="pannel-text">{{playerState.getPlayedProjectCardCount()}}</p>
		</div>
	</div>
</div>
