<div class="wrapper-pannel ares-card">
    <div class="wrapper-player-name">
        <p>{{playerState.getName()}}</p>
    </div>
    <div class="pannel-card">
        <div class="pannel-text" *ngIf="playerIsReady">
            <img src="/assets/other/ready.png" alt="">
        </div>
        <div class="pannel-text" *ngIf="playerIsReady===false">
            <img class="hourglass" src="/assets/other/hourglass.png" alt="">
        </div>
    </div>
    <div class="pannel-card">
        <div class="pannel-image">
			<!--
            <ng-container *ngIf="currentPhase=='PLANIFICATION' && playerPhase.previousSelectedPhase!=undefined">
                <img class="phase-image heavy-greyed-filter" src="/assets/other/phase_{{playerPhase.previousSelectedPhase.toLowerCase()}}.png" alt="">
            </ng-container>
            <ng-container *ngIf="currentPhase!='PLANIFICATION' && playerPhase.currentSelectedPhase">
                <img class="phase-image" src="/assets/other/phase_{{playerPhase.currentSelectedPhase.toLowerCase()}}.png" alt="">
            </ng-container>
			-->
        </div>
    </div>
    <div class="pannel-card">
        <div class="card-icon">
            <div class="vp-icon">
                <p>VP</p>
            </div>
        </div>
        <div class="pannel-text">
            <p>{{playerState.getVP()}}</p>
        </div>
    </div>
    <div class="pannel-card">
        <div class="card-icon">
            <img src="/assets/other/tr.png" alt="">
        </div>
        <div class="pannel-text">
            <p>{{playerState.getTR()}}</p>
        </div>
    </div>
    <div class="pannel-card">
        <div class="card-icon">
            <img src="/assets/other/card.png" alt="">
        </div>
        <div class="pannel-text">
            <p>{{playerState.getHandCurrentSize()}}</p>
        </div>
    </div>
</div>
