.wrapper-pannel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;

    width: auto;
    height: 70px;
    padding: 5px;
}
.pannel-card{
    height: 100%;
    width: 50px;
}
.pannel-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    max-height: 50%;
    & img{
        max-height: 100%;
    }
}
.pannel-text{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
}
.vp-icon{
    z-index: 1;
    position: relative;

    border-radius: 25%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(61, 61, 61);

    outline: rgb(216, 216, 216) 1px solid;
    outline-offset: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;   

    background: linear-gradient(0deg, rgb(26, 17, 9) 0%, rgba(143,92,63,1) 35%, rgba(255,239,213,1) 100%);
    & p{
        font-size: 20px;
        font-weight: bold;       
    }
}