<div class="wrapper-main">
	<div class="wrapper-list">
		<div class="list-mask">
			<div class="list-background"
			[ngClass]="currentPhase? 'ares-cardlist--' + (currentPhase | lowercase):'ares-cardlist'"></div>
		</div>
		<div class="wrapper-cards">
			<app-project-card #projectCardComponent *ngFor="let card of displayedCards"
				[stateFromParent]="cardSelector.stateFromParent"
				[projectCard]="card"
				[initialState]="cardSelector.cardInitialState"
				[buildDiscount]="_buildDiscount"
				(cardStateChange)="cardStateChange($event)"></app-project-card>
		</div>
	</div>
</div>
