.wrapper-window{
    display: flex;
    flex-direction: row;
}
.wrapper-navigation{
    display: block;
    width: 15%;
}
.wrapper-main{
    flex-grow: 1;
}
.wrapper-top-pannel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}