$buttons-margin: 2%;
$player-pannel-width: 65%;
.wrapper-app{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
	padding-bottom: calc(var(--card-height) * 1.1);
}
.wrapper-navigation{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 100%;
}
.wrapper-main{
    flex-grow: 1;
    margin-left: 0;
    display: flex;
    align-items: left;
    flex-direction: column;
    top: 0;
}
.wrapper-top{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.wrapper-other{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-player-pannel{
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: $player-pannel-width;
    left: 0;
    padding-top: 35px;
    app-self-info{
        width: $player-pannel-width;
    }
}
.wrapper-other-player{
    display: flex;
    flex-direction: column;
	width: 100%;
}
.background-image{
	position: fixed;  /* Reste fixe, même en scrollant */
	top: 0;
	left: 0;
	width: 100vw;  /* 100% de la largeur de la fenêtre */
	height: 100vh; /* 100% de la hauteur de la fenêtre */
	background: url('/assets/other/background.jpg') no-repeat center center;
	background-size: cover; /* Remplit l'écran sans déformation */
	mask-image: linear-gradient(to bottom, rgba(white, .8), rgba(white, 1));
}
app-self-info{
    z-index: 10;
    position: fixed;
    top: 0;
}
app-game-event{
    width: 100%;
	//min-height: 85%;
}
.wrapper-hand{
	$transition-delay: .2s;
	z-index: 100;
	position: fixed;
	display: flex;
	justify-content: left;
	align-items: top;

	max-width: 90%;

	left: 5%;
	top: calc(100% - (var(--card-height) * .23));
	transition: top $transition-delay ease;
	&.hovered {
		top: calc(100% - (var(--card-height) * 1.05));
		transition: top $transition-delay ease;
	}
	.hand-mask.masked{
		$opacity: .8;
		mask-image: linear-gradient(rgba(white, $opacity), rgba(white, $opacity));
	}
}
app-project-card-list{
	width: 100%;
	height: 100%;
}
.wrapper-played{
    width: 100%;
	padding-left: 10%;
	padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: left;
	margin-top: 2%;
}

.horizontal-separator{
	width: 100%;
	height: 30px;
	margin-top: 3%;
	margin-bottom: 3%;
}
.wrapper-settings{
	z-index: 100;
	$height: 6%;
	position: fixed;
	top: 100% - $height;
	left: 0;
	height: $height;
	aspect-ratio: 1;
	transform: translate( 30%, -30%);
}
.wrapper-game-progression{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	& > img {
		max-width: 100%;
		max-height: 140px;
	}
	width: calc((95% - $player-pannel-width) / 2);
	& > h1 {
		display: inline-block;
		text-align: center;
	}
}
.wrapper-awards{
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95%;
	top: 0;
	width: calc((95% - $player-pannel-width) / 2);

	& > h1 {
		display: inline-block;
		text-align: center;
	}
}
