<div class="background">
    <img src="/assets/other/background.jpg" alt="">
</div>
<div class="wrapper-app">
    <div class="wrapper-navigation">
        <app-navigation></app-navigation>
    </div>
    <div class="wrapper-main">
        <div class="wrapper-top-pannel">
            <app-self-info></app-self-info>
            <div *ngFor="let id of playerIdList" class="wrapper-other-player">
                <app-player-pannel *ngIf="id!=clientPlayerId" [playerId]="id"></app-player-pannel>
            </div>
        </div>
        <div class="wrapper-other">
            <app-server-emulation></app-server-emulation>
            <app-game-event></app-game-event>
            <div class="wrapper-hand">
                <h1>Cards in hand:</h1>
                <app-project-card-list [cardList]="playerHand"></app-project-card-list>
            </div>
            <h1>Cards Played:</h1>
            <app-project-card-list [cardList]="playerPlayed"></app-project-card-list>
        </div>
    </div>
</div>