$buttons-margin: 2%;
$scrollbar-width: 15px;

:root{
	--navbar-height: 0px;
}
#navbar{
	z-index: 100;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	top: 0;
	&.settings-openned{
		width: calc(100% - $scrollbar-width);
	}
	pointer-events: none;
}
app-navigation {
	width: 100%;
	height: 100%;
}
#settings{
	z-index: 1000;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	backdrop-filter: blur(10px) grayscale(20%);
}

.wrapper-app{
	margin-top: var(--navbar-height);
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
	padding-bottom: calc(var(--card-height) * 1.1);
	&.settings-openned{
		width: calc(100% - $scrollbar-width);
	}
}
.wrapper-main{
    flex-grow: 1;
    margin-left: 0;
    display: flex;
    align-items: left;
    flex-direction: column;
    top: 0;
}
.wrapper-other{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-background{
	z-index: 99;
	mask-image: linear-gradient(to bottom, rgba(white, .9) calc(var(--navbar-height) /2), rgba(white, 0) var(--navbar-height));
	pointer-events: none;
}
app-self-info{
    z-index: 10;
    top: 0;
}
app-game-event{
    width: 100%;
}
#wrapper-hand{
	$transition-delay: .2s;
	z-index: 100;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: top;

	max-width: 94%;

	left: 5%;
	top: calc(100% - (var(--card-height) * .23));
	transition: top $transition-delay ease;
	&.hovered {
		top: calc(100% - var(--hand-height));
		transition: top $transition-delay ease;
	}
	.hand-mask.masked{
		$opacity: .8;
		mask-image: linear-gradient(rgba(white, $opacity), rgba(white, $opacity));
		flex-grow: 1;
		display: flex;
		max-width: 100%;
	}
}
app-project-card-list{
	height: 100%;
	width: 100%;
}
.wrapper-played{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
	margin-top: 2%;
}
.horizontal-separator{
	width: 100%;
	height: 30px;
	margin-top: 3%;
	margin-bottom: 3%;
}
.wrapper-settings-button{
	z-index: 100000000;
	position: fixed;
	display: flex;
	justify-content: right;
	$height: 6%;
	top: calc(100% - var(--settings-button-size));
	left: 0;
	height: var(--settings-button-size);
	aspect-ratio: 1;

	& > app-non-event-button{
		width: fit-content;
		height: 70%;
	}
}

.wrapper-loading{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;

	h1{
		color: white;
		padding: 20px;
	}
}
