<div *ngIf="_connected===false" class="wrapper-loading" @fadeIn>
	<h1 class="ares-title">CONNECTION LOST</h1>
</div>
<div *ngIf="loaded===false && _connected" class="wrapper-loading" @fadeIn>
	<h1 class="ares-title">LOADING</h1>
</div>
<div class="background-image nav-background" *ngIf="loaded && _connected" @fadeIn></div>
<nav *ngIf="loaded && _connected" id="navbar" [class.settings-openned]="_settings">
	<app-navigation  [clientPlayerId]="clientId" [isScrolled]="isScrolled"></app-navigation>
</nav>
<div id="settings" *ngIf="_settings" @fadeInFadeOut>
	<app-settings
		(closeSettings)="closeSettings()">
	</app-settings>
</div>
<div @fadeIn *ngIf="loaded && _connected" class="wrapper-app"
	[class.settings-openned]="_settings">
    <div class="wrapper-main">
        <div class="wrapper-other">
			<div class="wrapper-settings-button">
				<app-non-event-button [button]="settingsButton" [shape]="'hex_floating'" (buttonClicked)="nonEventButtonClicked(settingsButton)"></app-non-event-button>
			</div>
            <app-server-emulation></app-server-emulation>
            <app-game-event></app-game-event>
			<div class="horizontal-separator">
				<app-horizontal-separator></app-horizontal-separator>
			</div>
			<div class="ares-title">
				<h1>Cards Played:</h1>
			</div>
			<div class="wrapper-played">
				<app-playable-card-list #hand [cardList]="playerPlayed" [listType]="'played'"></app-playable-card-list>
			</div>
        </div>
    </div>

	<div id="wrapper-hand" *ngIf="playerHand.length>0"
		[class.hovered]="_handIsHovered"
		(mouseenter)="updateHandHeight(true)"
		(mouseleave)="updateHandHeight(false)">
		<div class="hand-mask"
			[class.masked]="_handIsHovered===false">
			<app-playable-card-list [hovered]="_handIsHovered" [background]="false" [listType]="'hand'" [cardList]="playerHand"></app-playable-card-list>
		</div>
	</div>
</div>

