@use "../../../../../styles/abstracts/variables" as vars;
$buttons-margin: 2%;
$scrollbar-width: 15px;
.small{
	--card-height: var(--card-height--small)
}
.medium{
	--card-height: var(--card-height--medium)
}
:root{
	--navbar-height: 0px;
}
#navbar{
	z-index: 100;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	top: 0;
	&.settings-openned{
		width: calc(100% - $scrollbar-width);
	}
	pointer-events: none;
}
app-navigation {
	width: 100%;
	height: 100%;
}
#settings{
	z-index: 1000;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	backdrop-filter: blur(10px) grayscale(20%);
}

.wrapper-app{
	margin-top: var(--navbar-height);
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
	padding-bottom: calc(var(--card-height) * 1.1);
	&.settings-openned{
		width: calc(100% - $scrollbar-width);
	}
}
.wrapper-main{
    flex-grow: 1;
    margin-left: 0;
    display: flex;
    align-items: left;
    flex-direction: column;
    top: 0;
}
.wrapper-other{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-background{
	z-index: 99;
	mask-image: linear-gradient(to bottom, rgba(white, .9) calc(var(--navbar-height) /2), rgba(white, 0) var(--navbar-height));
	pointer-events: none;
}
app-self-info{
    z-index: 10;
    top: 0;
}
app-game-event{
    width: 100%;
}
#wrapper-hand{
	$transition-delay: .2s;
	z-index: 100;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: top;
	width: fit-content;

	left: 5%;
	top: calc(100% - (var(--card-height) * .23));
	transition: top $transition-delay ease;

	$padding: calc(var(--card-height) * .01);
	padding: $padding;
	background: rgba(0, 0, 0, 0.6);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: solid 2px rgba(255, 129, 25, .8);
	border-bottom: 0;
	&.hovered{
		box-shadow: 0 0 10px 5px rgba(rgb(255, 129, 25), .6);
		top: calc(100% - var(--hand-height));
		transition: top $transition-delay ease;
	}
	.hand-mask{
			flex-grow: 1;
			display: flex;
		&.masked{
			$opacity: .8;
			mask-image: linear-gradient(rgba(white, $opacity), rgba(white, $opacity));
		}
	}
	app-playable-card-list{
		max-width: calc((8 + 0.07) * var(--card-width) + 6px);
		height: 100%;
	}
}
.wrapper-settings-button{
	z-index: 100000000;
	position: fixed;
	display: flex;
	justify-content: right;
	$height: 6%;
	top: calc(100% - var(--settings-button-size));
	left: 0;
	height: var(--settings-button-size);
	aspect-ratio: 1;

	& > app-non-event-button{
		width: fit-content;
		height: 70%;
	}
}

.wrapper-loading{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;

	h1{
		color: white;
		padding: 20px;
	}
}
