@use '../../../../../../styles/abstracts/colors' as colors;
:host{
	position: relative;
	width: 100%;
	height: 100%;
}
.background {
	@each $color-name, $color-value in colors.$card-back-colors {
		&--#{$color-name} {
			width: 100%;
			height: 100%;
			background: linear-gradient(45deg, var(--color-ares-#{$color-name}-light) 0%, var(--color-ares-#{$color-name}-dark2) 80%,  var(--color-ares-#{$color-name}-dark4)  100%);
		};
	};
	&--white{
		width: 100%;
		height: 100%;
		background: linear-gradient(45deg, var(--color-ares-blue-light3) 0%,  var(--color-ares-white-dark) 40%, rgb(126, 133, 173) 100%);
	}
}
.hex{
    position: absolute;
    width: calc(var(--card-width) * .2);
    aspect-ratio: 1;
}
.hex-small{
    position: absolute;
    width: calc(var(--card-width) * .1);
    aspect-ratio: 1;
}
.hex1{top: calc(var(--card-height) * .1);left: calc(var(--card-width) * .1);opacity: 35%;}
.hex2{top: calc(var(--card-height) * .21);left: calc(var(--card-width) * .188);opacity: 15%;}
.hex3{top: calc(var(--card-height) * .1);left: calc(var(--card-width) * .28);opacity: 8%;}
.hex4{top: calc(var(--card-height) * -.01);left: calc(var(--card-width) * .188);opacity: 17%;}
.hex5{top: calc(var(--card-height) * -.01);left: calc(var(--card-width) * .85);opacity: 30%;}
.hex6{top: calc(var(--card-height) * .10);left: calc(var(--card-width) * .76);opacity: 15%;}
.hex7{top: calc(var(--card-height) * .10);left: calc(var(--card-width) * .94);opacity: 12%;}
.hex8{top: calc(var(--card-height) * -.01);left: calc(var(--card-width) * .67);opacity: 20%;}
.hex9{top: calc(var(--card-height) * .47);left: calc(var(--card-width) * .1);opacity: 20%;}
.hex10{top: calc(var(--card-height) * .58);left: calc(var(--card-width) * .188);opacity: 30%;}
.hex11{top: calc(var(--card-height) * .58);left: calc(var(--card-width) * .01);opacity: 40%;}
.hex-small1{top: calc(var(--card-height) * .45);left: calc(var(--card-width) * .23);opacity: 50%;}
.hex-small2{top: calc(var(--card-height) * .3);left: calc(var(--card-width) * .85);opacity: 50%;}
