$colors: (
  "red": rgb(237, 53, 49),
  "blue": rgb(39, 177, 229),
  "green": rgb(42, 180, 92),
  "purple": rgb(98, 70, 156),
  "orange":  rgb(255, 129, 25),
  "yellow": yellow,
  "white": white,
  "corporation": rgb(215, 224, 231),
);

$card-back-colors: (
  "red": rgba(130, 30, 30, 1),
  "blue": rgba(50, 100, 150, 1),
  "green": rgba(10, 90, 40, 1),
  "corporation": rgb(210, 224, 235),
);

:root {
  --card-height: 300px;
  --card-effect-height: calc(var(--card-height) * .26);
  --card-width: calc(var(--card-height) * 63 / 88);
  --settings-button-size: 9%;
  --text-size: 11px;

  @each $name, $color in $colors {
    --color-ares-#{$name}: #{$color};
    --color-ares-#{$name}-light: #{lighten($color, 5%)};
	--color-ares-#{$name}-light2: #{lighten($color, 25%)};
	--color-ares-#{$name}-light3: #{lighten($color, 35%)};
	--color-ares-#{$name}-light4: #{lighten($color, 40%)};
    --color-ares-#{$name}-dark0: #{darken($color, 7%)};
	--color-ares-#{$name}-dark: #{darken($color, 15%)};
	--color-ares-#{$name}-dark2: #{darken($color, 19%)};
	--color-ares-#{$name}-dark3: #{darken($color, 21%)};
	--color-ares-#{$name}-dark4: #{darken($color, 33%)};
	--color-ares-#{$name}-dark5: #{darken($color, 45%)};
	--color-ares-#{$name}-dark6: #{darken($color, 55%)};
  }

  @each $name, $color in $card-back-colors {
    --color-card-back-#{$name}: #{$color};
  }
}

$map-colors: ();
$map-colors-light: ();
$map-colors-dark: ();

@each $name, $color in $colors {
  $map-colors: map-merge($map-colors, ($name: var(--color-ares-#{$name})));
  $map-colors-light: map-merge($map-colors-light, ($name: var(--color-ares-#{$name}-light)));
  $map-colors-dark: map-merge($map-colors-dark, ($name: var(--color-ares-#{$name}-dark)));
}
