$ares-red: rgb(237, 53, 49);
$ares-blue: rgb(39, 177, 229);
$ares-green: rgb(42, 180, 92);
$ares-purple: rgb(98, 70, 156);

$card-height: 300px;
$card-width: calc($card-height * 63 / 88);

$fade-transition-time: .2s;

$colors: (
  "red": $ares-red,
  "blue": $ares-blue,
  "green": $ares-green,
  "purple": $ares-purple
);
$dark-colors: (
    "red": darken($ares-red, 15%),
    "blue": rgb(17, 114, 186),
    "green": rgb(0, 113, 58),
    "purple": darken($ares-purple, 15%)
);
$light-colors: (
    "red": lighten($ares-red, 5%),
    "blue": lighten($ares-blue, 5%),
    "green": lighten($ares-green, 5%),
    "purple": rgb(244, 172, 205)
);
$card-back-colors: (
    "red": rgba(130, 30, 30, 1),
    "blue": rgba(50, 100, 150, 1),
    "green": rgba(10, 90, 40, 1)
);
* {
    padding:0;
    margin:0;
    font-family: Roboto;
}
body {
    margin: 0;
    padding: 0;
}
div {
    border: red 0px solid;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
p {
    font-size: 13px;
    &.text-cost-mod.center{
        color: black;
        font-weight: bold;
    }
}
.validation-button{
    padding: 4%;
    width: 100%;
    height: 100%;

    background: rgb(31, 31, 31);
    font-size: larger;
    color: $ares-blue;
    background: linear-gradient(rgb(31, 31, 31),rgb(31, 31, 31)) padding-box,
                linear-gradient(135deg, rgb(17, 114, 186), rgb(0, 113, 58)) border-box;
    border-radius: 50em;
    border: 5px solid transparent;
    &:disabled{
        filter: grayscale(100%);
    }
}
.image-button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    border: 0;
    background-color: transparent;
    & img {
        max-width: 100%;
        max-height: 100%;
    }
    &:disabled{
        color: linen;
    }
}
.ares-background{
    background: rgba(black, .5);
}
.ares-card{
    background: rgba(black, .5);
    border-radius: 5px;
    & p {
        color: white;
    }
}
.ares-border{
    border: 2px solid rgba(lightblue, .2);
}
.element-clickable{
    &:hover{
        filter: brightness(80%);
        cursor: pointer;
    }
}
.element-selectable{
    filter: grayscale(40%);
    &:hover{
        cursor: pointer;
        filter: grayscale(0%);
        background: rgba($color: #000000, $alpha: .5);
        outline-offset: 5px;
        outline: $ares-blue solid 3px;
    }
}
.element-selected-bracket{
    $border-color-one: rgba($ares-blue, .8);
    $border-color-none: transparent;
    border: 4px solid;
    border-image: linear-gradient(to right, $border-color-one 25%, $border-color-none 25%, $border-color-none 75%, $border-color-one 75%) 5;
}
.element-selected{
    $border-color-one: rgba($ares-blue, .8);
    $border-color-none: transparent;
    outline: 4px solid $ares-blue;
    outline-offset: 0px;
    border: 4px solid transparent;
    filter: drop-shadow(0 0 0.75rem $ares-blue);
}
.element-not-selected{
    border: transparent solid 4px;
}
.element-disabled{
    filter: grayscale(100%)
}
@keyframes fadeInOpacity {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.element-fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity $fade-transition-time linear;
}
.element-fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s $fade-transition-time, opacity $fade-transition-time linear;
}
.background-production{
    $color-one: $ares-red;
    $color-two: rgb(253, 157, 67);
    $step1: 2%;
    $step2: 4%;
    $step3: 6%;
    background: repeating-linear-gradient(135deg,$color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
    background: -webkit-repeating-linear-gradient(135deg,$color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
    background: -moz-repeating-linear-gradient(135deg,$color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
}
.background-production-grey{
    $color-one: rgb(66, 66, 66);
    $color-two: rgb(184, 184, 184);
    $step1: 0%;
    $step2: 4%;
    $step3: 6%;
    background: repeating-linear-gradient(135deg,$color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
    background: -webkit-repeating-linear-gradient(135deg,$color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
    background: -moz-repeating-linear-gradient(135deg,$color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
}
.background-production-blue{
    $color-one: rgb(66, 66, 66);
    $color-two: $ares-blue;
    $step1: 2%;
    $step2: 4%;
    $step3: 6%;
    background: repeating-linear-gradient(135deg,$color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
    background: -webkit-repeating-linear-gradient(135deg,$color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
    background: -moz-repeating-linear-gradient(135deg,$color-one 0%, $color-two $step1, $color-two $step2, $color-one $step3);
}
.full-greyed-filter{
    filter: grayscale(100%);
}
.heavy-greyed-filter{
    filter: grayscale(85%);
}
.light-greyed-filter{
    filter: grayscale(30%);
}