body {
    margin: 0;
    padding: 0;
}
div {
    border: red 1px solid;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
img {
    width: 100%;
}