
* {
    padding:0;
    margin:0;
    font-family: Roboto;
}
body {
    margin: 0;
    padding: 0;
}
div {
    border: red 0px solid;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
img {
    width: 100%;
    aspect-ratio: 1/1;
}
p {
    font-size: 12px;
}
