.wrapper-pannel {
    display: flex;
    align-items: center;
	justify-content: space-between;
    gap: var(--interface-line-gap);

    width: auto;

	border: rgba(rgb(255, 129, 25), .5) solid 1px;
	border-radius: 5px;
	padding: 1px;

	height: var(--interface-line);
	&.small{
		flex-wrap: wrap;
		height: calc(var(--interface-line) * 2 + var(--interface-line-gap));
		width: 200px;
	}
}
app-ressource-card{
    height: var(--interface-line);
}
.separator{
	border-left: rgba(rgb(255, 129, 25), .5) solid 2px;
	margin: 1px;
	height: calc(var(--interface-line) * .8);
}
