$player-pannel-width: 65%;

:root {
	--navbar-height: 0px; /* Valeur par défaut */
}

#nav{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
	border: green solid 1px;
}
.wrapper-player-pannel{
	width: $player-pannel-width;
}
.app-player-pannel{
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    left: 0;
}
img{

	//max-width: 100%;
	//max-height: 50%;
}
.wrapper-game-progression{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50%;
	border: red solid 1px;
	& > * {
		height: 100%;
	}
	width: calc((95% - $player-pannel-width) / 2);
	& > h1 {
		display: inline-block;
		text-align: center;
	}
}
.wrapper-awards{
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	top: 0;
	width: calc((95% - $player-pannel-width) / 2);
	& > h1 {
		display: inline-block;
		text-align: center;
	}
}
