<nav id="nav"
	@fadeIn
	(@expandCollapseVertical.done)="updateNavHeight()">
	<div class="wrapper-global-parameter">
		<app-global-parameter-pannel></app-global-parameter-pannel>
	</div>
	<div class="wrapper-player-pannel ares-background ares-border"
		(mouseenter)="_playerPannelIsHovered=true"
		(mouseleave)="_playerPannelIsHovered=false"
		@fadeInFadeOut>
		<ng-container *ngFor="let id of _playerIdList">
			<app-player-pannel
			class="animated"
			[@expandCollapseVertical]
			(@expandCollapseVertical.done)="updateNavHeight()"
			*ngIf="_playerPannelIsHovered || !isScrolled || id===clientPlayerId" [playerId]="id"></app-player-pannel>
		</ng-container>
	</div>
	<div class="wrapper-awards ares-background ares ares-border">
		<h1>awards here</h1>
	</div>
</nav>
