$player-pannel-width: 55%;
$nav-gap: 1.5%;

:root {
	--navbar-height: 0px;
}

#nav{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.wrapper-player-pannel{
	width: $player-pannel-width;
	pointer-events: all;
}
.app-player-pannel{
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    left: 0;
}
.wrapper-global-parameter{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	height: 100%;
	width: calc((100% - $player-pannel-width) / 2 - $nav-gap);
	//flex-grow: .5;
	gap: 1%;
	& > h1 {
		display: inline-block;
		text-align: center;
	}
	pointer-events: all;
}
app-global-parameter-pannel{
	height: 100%;
	width: 100%;
}
.wrapper-awards{
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	top: 0;
	width: calc((100% - $player-pannel-width) / 2 - $nav-gap);
	//flex-grow: 1;
	& > h1 {
		display: inline-block;
		text-align: center;
	}
	pointer-events: all;
}
