.small{
	--card-stock-image-height: var(--card-stock-image-height--small);
	--card-stock-text-size: var(--card-stock-text-size--small);
}
.medium{
	--card-stock-image-height: var(--card-stock-image-height--medium);
	--card-stock-text-size: var(--card-stock-text-size--medium);
}
:host{
	display: flex;
	justify-content: right;
}
.wrapper-main{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: white solid 1px;
	padding: 2px;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-right: 0;
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 3px 0 white;
}
p{
	color: black;
	font-size: var(--card-stock-text-size) !important;
}
.wrapper-stock{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
	height: 80%;
	//min-width: 45px;
}
img{
	height: var(--card-stock-image-height);
}
