$builder-padding: calc(var(--card-height) * .04);
$alternative-width: 200px;
.wrapper-card-builder{
    display: flex;
	flex-direction: column;
	width: calc(var(--card-width));
	padding: $builder-padding;
}
.selected-card-zone{
	position: relative;
    width: var(--card-width);
    height: var(--card-height);

	border-radius: calc(var(--card-height) * .05);
	background-color: gray;
}
.wrapper-buttons{
	display: flex;
	justify-content: center;
	align-items: end;
	height: calc((var(--card-height) * .15) - $builder-padding);
	width: var(--card-width);
	margin-top: $builder-padding;
}
.wrapper-select-button, .wrapper-build-button, .wrapper-alternative{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.button-select-card, .button-cancel-card, .button-build-card, .button-discard-card{
	z-index: 1;
}
.play-card-zone{
    position: relative;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.play-card-zone-list{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}
app-event-card-builder-button{
	width: 100%;
	height: 100%;
}
app-project-card-list{
	position: relative;
	width: 100%;
	height: 100%;
}
