$builder-padding: calc(var(--card-height) * .06);
$selected-card-zone-coeff: 1.05;
$alternative-width: 200px;
.wrapper-card-builder{
	position: relative;
    display: flex;
	flex-direction: column;
	width: calc(var(--card-width) * $selected-card-zone-coeff);
	padding: $builder-padding;
}
.wrapper-buton-zone{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	margin-top: $builder-padding;
}
.filter-type-development{
	background: linear-gradient(130deg,var(--color-ares-green-light3) 0%, var(--color-ares-green) 35%, var(--color-ares-green-dark4) 80%);
}
.filter-type-construction{
	background: linear-gradient(130deg, var(--color-ares-blue-dark0) 40%, var(--color-ares-red-dark) 60%);
}
.selected-card-zone{
	$color-one: rgba(0, 0, 0, 1);
	$color-two: rgba(0, 0, 0, 0);

	display: flex;
	justify-content: center;
	align-items: center;

	top: 0;
	left: 0;
	z-index: 0;
	position: relative;
    width: calc(var(--card-width) * $selected-card-zone-coeff);
    height: calc(var(--card-height) * $selected-card-zone-coeff);

	border-radius: calc(var(--card-height) * .05);
	overflow: hidden;
	box-shadow: inset 0 0 calc(var(--card-height) * .06) calc(var(--card-height) * .02) rgb(0, 0, 0);

	&:before{
        $color-one: rgba(0, 0, 0, 1);
        $color-two: rgba(0, 0, 0, 0);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:
        linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, $color-one 30%, $color-two 30%, $color-two 70%, $color-one 70%, $color-one 100%),
        linear-gradient(135deg, $color-one 0%, $color-one 30%, $color-two 30%, $color-two 70%, $color-one 70%, $color-one 100%),
        linear-gradient(225deg, $color-one 0%, $color-one 30%, $color-two 30%, $color-two 70%, $color-one 70%, $color-one 100%),
        linear-gradient(315deg, $color-one 0%, $color-one 30%, $color-two 30%, $color-two 70%, $color-one 70%, $color-one 100%);
        background-size: 3px 3px;
        background-repeat: repeat;
        transform: rotate(0deg);
	}
}
.wrapper-buttons{
	display: flex;
	justify-content: center;
	align-items: end;
	height: calc((var(--card-height) * .1));
	width: var(--card-width);
}
.wrapper-select-button, .wrapper-build-button, .wrapper-alternative{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.button-select-card, .button-cancel-card, .button-build-card, .button-discard-card{
	z-index: 1;
}
app-event-card-builder-button{
	width: 100%;
	height: 100%;
}
app-project-card-list{
	position: relative;
	z-index: 10;
	width: var(--card-width);
	height: var(--card-height);
}
.wrapper-main{
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;

	position: relative;
}
.wrapper-top-decoration{
	$height-coeff: .07;
	$height-offset: calc(var(--card-height) *.01);
	$shape-width: calc(var(--card-width) * .8);
	$shape-height: calc(var(--card-height) * $height-coeff);

	position: relative;
	top: calc($shape-height * .2);
	left: 0;
    height: $shape-height;
    width: 80%;
}
.inner-decoration--side{
	$border-thickness: 2px;
	position: absolute;
	width: calc(100% - $builder-padding);
	height: calc(var(--card-height) * $selected-card-zone-coeff + $builder-padding);
	border-left: solid $border-thickness;
	border-right: solid $border-thickness;
	border-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, var(--color-ares-orange) 5%, var(--color-ares-orange) 95%,  rgba(255,255,255,0)) 1;
	top: calc($builder-padding / 2);
	left: calc($builder-padding / 2 - $border-thickness);
}
.inner-decoration--separator{
	$border-thickness: 2px;
	z-index: 10;
	width: calc(100%);
	margin-top: calc($builder-padding / 2);
	margin-bottom: calc($builder-padding / 2);

	border-top: solid $border-thickness;
	border-image: linear-gradient(to right, rgba(255,255,255,0) 0%, var(--color-ares-orange) 5%, var(--color-ares-orange) 95%,  rgba(255,255,255,0)) 1;
}
