$selected-card-zone-coeff: 1.05;
$selected-card-zone-border-size: 3px;
$inner-decoration-width: 2px;
$alternative-width: 200px;
.small{
	--card-width: var(--card-width--small);
	--card-height: var(--card-height--small);
	--builder-padding: var(--builder-padding--small);
}
.medium{
	--card-width: var(--card-width--medium);
	--card-height: var(--card-height--medium);
	--builder-padding: var(--builder-padding--medium);
}
:host{
	position: relative;
}
.wrapper-card-builder{
	position: relative;
    display: flex;
	flex-direction: column;
	width: calc(var(--card-width) * $selected-card-zone-coeff + $selected-card-zone-border-size + $inner-decoration-width * 2);
	padding: var(--builder-padding);
}
.wrapper-buton-zone{
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
    width: calc(var(--card-width) * $selected-card-zone-coeff + $selected-card-zone-border-size * 2);
    height: calc(var(--card-height) * $selected-card-zone-coeff + $selected-card-zone-border-size * 2);
	border-radius: calc(var(--card-height) * .05);
}
.wrapper-buttons{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex: 1;
	padding: 10%;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	box-shadow: 0 0 10px 5px rgba(255, 255, 255, .7);
	//border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	& > app-event-card-builder-button{
		max-height: calc(var(--card-height) * .25);
	}
}
.buttons-hider{
	height: 50%;
	width: 100%;
}
.buttons-filler{
	flex: 1;
}
.green{
	background: linear-gradient(130deg,var(--color-ares-green-light3) 0%, var(--color-ares-green) 35%, var(--color-ares-green-dark4) 80%);
}
.bluered{
	background: linear-gradient(130deg, var(--color-ares-blue-dark0) 49%, black 50%, var(--color-ares-red-dark) 51%);
	opacity: .9;
}
.redbluegreen{
	background: linear-gradient(130deg, var(--color-ares-green-dark0) 35%, black 36%, var(--color-ares-red-dark) 37%, var(--color-ares-red-dark) 62%, black 63%, var(--color-ares-blue-dark) 64%);
	opacity: .9;
}
.white{
	background-color: white;
}
.selected-card-zone{
	$color-one: rgba(0, 0, 0, 1);
	$color-two: rgba(0, 0, 0, 0);

	display: flex;
	justify-content: center;
	align-items: center;

	top: 0;
	left: 0;
	z-index: 0;
	position: relative;
    width: calc(var(--card-width) * $selected-card-zone-coeff);
    height: calc(var(--card-height) * $selected-card-zone-coeff);

	border-radius: calc(var(--card-height) * .05);
	border: black solid $selected-card-zone-border-size;
	overflow: hidden;
	box-shadow: inset 0 0 calc(var(--card-height) * .07) calc(var(--card-height) * .05) rgb(0, 0, 0);
	&.locked{
		filter: grayscale(70%);
	}
	&:before{
        $color-one: rgba(0, 0, 0, 1);
        $color-two: rgba(0, 0, 0, 0);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
		background: rgba(0, 0, 0, 0.1);
	}
}
.wrapper-alternative{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.wrapper-alternative-inner{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 70%;
}
.button-select-card, .button-cancel-card, .button-build-card, .button-discard-card{
	z-index: 1;
}
app-event-card-builder-button{
	height: 100%;
}
.wrapper-main{
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;

	position: relative;
}
.inner-decoration--side{
	position: absolute;
	width: calc(100% - var(--builder-padding));
	height: calc(var(--card-height) * $selected-card-zone-coeff + var(--builder-padding));
	border-left: solid $inner-decoration-width;
	border-right: solid $inner-decoration-width;
	border-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, var(--color-ares-orange) 5%, var(--color-ares-orange) 95%,  rgba(255,255,255,0)) 1;
	top: calc(var(--builder-padding) / 2);
	left: calc(var(--builder-padding) / 2 - $inner-decoration-width);
}
.inner-decoration--separator{
	$border-thickness: 2px;
	z-index: 10;
	width: calc(100%);
	margin-top: calc(var(--builder-padding) / 2);
	margin-bottom: calc(var(--builder-padding) / 2);

	border-top: solid $border-thickness;
	border-image: linear-gradient(to right, rgba(255,255,255,0) 0%, var(--color-ares-orange) 5%, var(--color-ares-orange) 95%,  rgba(255,255,255,0)) 1;
}
app-non-event-button{
	position: absolute;
	height: 40px;
	z-index: 20;
	top: -15px;
	left: calc(100% - 35px);
}
