<div class="wrapper-main">
	<div class="wrapper-top-decoration">
		<app-top-decoration></app-top-decoration>
	</div>
	<div class="wrapper-card-builder ares-background ares-border">
		<div class="inner-decoration--side"></div>
		<div class="selected-card-zone" [ngClass]="'filter-type-'+projectFilterType">
			<app-project-card-list *ngIf="cardBuilder.getSelectedCard()!=undefined" class="play-card-zone-list" [cardList]="[cardBuilder.getSelectedCard()]"></app-project-card-list>
		</div>
		<div class="wrapper-buton-zone">
			<div class="wrapper-buttons">
				<div *ngIf="cardBuilder.getButtons()[0].enabled || cardBuilder.getButtons()[1].enabled" class="wrapper-select-button">
					<app-event-card-builder-button [button]="cardBuilder.getButtons()[0]" (buttonClicked)="cardBuilderButtonClicked(cardBuilder.getButtons()[0])"></app-event-card-builder-button>
					<app-event-card-builder-button [button]="cardBuilder.getButtons()[1]" (buttonClicked)="cardBuilderButtonClicked(cardBuilder.getButtons()[1])"></app-event-card-builder-button>
				</div>
				<div *ngIf="cardBuilder.getButtons()[2].enabled || cardBuilder.getButtons()[3].enabled" class="wrapper-build-button">
					<app-event-card-builder-button [button]="cardBuilder.getButtons()[2]" (buttonClicked)="cardBuilderButtonClicked(cardBuilder.getButtons()[2])"></app-event-card-builder-button>
					<app-event-card-builder-button [button]="cardBuilder.getButtons()[3]" (buttonClicked)="cardBuilderButtonClicked(cardBuilder.getButtons()[3])"></app-event-card-builder-button>
				</div>
			</div>
			<ng-container *ngIf="cardBuilder.getOption()!=undefined">
				<div class="inner-decoration--separator"></div>
				<div class="wrapper-buttons">
					<div class="wrapper-alternative">
						<app-event-card-builder-button [button]="cardBuilder.getButtons()[4]" (buttonClicked)="cardBuilderButtonClicked(cardBuilder.getButtons()[4])"></app-event-card-builder-button>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
