<div class="wrapper-main">
	<div class="wrapper-card-builder ares-background ares-border">
		<div class="inner-decoration--side"></div>
		<div class="selected-card-zone" [ngClass]="'filter-type-'+projectFilterType">
			<app-project-card-list
				*ngIf="cardBuilder.getSelectedCard()!=undefined"
				class="play-card-zone-list"
				[cardList]="[cardBuilder.getSelectedCard()]"
				[listType]="'builderSelectedZone'"
				[event]="event"
				[selectedDiscount]="discount">
			</app-project-card-list>
		</div>
		<div class="wrapper-buton-zone"
			*ngIf="!cardBuilder.getbuilderIsLocked()">
			<div class="wrapper-buttons">
				<div *ngIf="cardBuilder.getButtons()[0].enabled || cardBuilder.getButtons()[1].enabled" class="wrapper-select-button">
					<app-event-card-builder-button *ngIf="cardBuilder.getButtons()[0].enabled" [button]="cardBuilder.getButtons()[0]" [shape]="'large'" (buttonClicked)="cardBuilderButtonClicked(cardBuilder.getButtons()[0])"></app-event-card-builder-button>
					<app-event-card-builder-button *ngIf="cardBuilder.getButtons()[1].enabled" [button]="cardBuilder.getButtons()[1]" [shape]="'large'" (buttonClicked)="cardBuilderButtonClicked(cardBuilder.getButtons()[1])"></app-event-card-builder-button>
				</div>
				<div *ngIf="cardBuilder.getButtons()[2].enabled || cardBuilder.getButtons()[3].enabled" class="wrapper-build-button">
					<app-event-card-builder-button [button]="cardBuilder.getButtons()[2]" [shape]="'small'" (buttonClicked)="cardBuilderButtonClicked(cardBuilder.getButtons()[2])"></app-event-card-builder-button>
					<app-event-card-builder-button [button]="cardBuilder.getButtons()[3]" [shape]="'small'" (buttonClicked)="cardBuilderButtonClicked(cardBuilder.getButtons()[3])"></app-event-card-builder-button>
				</div>
			</div>
			<ng-container *ngIf="cardBuilder.getOption()!=undefined">
				<div class="inner-decoration--separator"></div>
				<div class="wrapper-alternative">
					<div class="wrapper-alternative-inner">
						<h2>Or</h2>
						<div class="wrapper-buttons">
							<app-event-card-builder-button [button]="cardBuilder.getButtons()[4]" [shape]="'small'" (buttonClicked)="cardBuilderButtonClicked(cardBuilder.getButtons()[4])"></app-event-card-builder-button>
						</div>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
