<div class="wrapper-game-event">
    <app-phase-planification *ngIf="currentPhase==='planification'" [playerId]="playerId"></app-phase-planification>
    <app-phase-development *ngIf="currentPhase==='development'"></app-phase-development>
    <app-phase-construction *ngIf="currentPhase==='construction'"></app-phase-construction>
    <app-phase-action *ngIf="currentPhase==='action'"></app-phase-action>
    <app-phase-production *ngIf="currentPhase==='production'"></app-phase-production>
    <app-phase-research *ngIf="currentPhase==='research'"></app-phase-research>
</div>