:host{
	z-index: 10;
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
	pointer-events: none;

	& > img{
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
		opacity: 70%;
	}
	& > .recycleStartingProject{
		height: auto;
		width: 90%;
		aspect-ratio: 1;
		opacity: 85%;
	}
	& > .selectCorporation, .selectMerger{
		width: 70%;
		height: auto;
		aspect-ratio: 1;
		opacity: 85%;
	}
	& > .addRessource {
		width: 80%;
		height: auto;
		aspect-ratio: 1;
		opacity: 100%;
	}
	& > .scanKeepResult {
		width: 60%;
		height: auto;
		aspect-ratio: .7;
		opacity: 100%;
	}
	& > .sell{
		width: 60%;
		height: auto;
		aspect-ratio: 1;
		opacity: .95;
		filter: grayscale(50%);
	}
}
