<h2>Select a phase :</h2>
<div class="wrapper-phase-card">
    <div class="phase-card phase-development clickable">
        <p>I development</p>
    </div>
    <div class="phase-card phase-construction clickable">
        <p>II construction</p>
    </div>
    <div class="phase-card phase-action clickable">
        <p>III action</p>
    </div>
    <div class="phase-card phase-production clickable">
        <p>IV production</p>
    </div>
    <div class="phase-card phase-research clickable">
        <p>V research</p>
    </div>
</div>