<div class="wrapper-main">
	<app-non-event-button [button]="_convertForest" [shape]="'action'"></app-non-event-button>
	<app-non-event-button [button]="_buyForest" [shape]="'action'"></app-non-event-button>
	<app-non-event-button [button]="_convertTemperature" [shape]="'action'"></app-non-event-button>
	<app-non-event-button [button]="_buyTemperature" [shape]="'action'"></app-non-event-button>
	<app-non-event-button [button]="_convertInfrastructure" [shape]="'action'"></app-non-event-button>
	<app-non-event-button [button]="_buyInfrastructure" [shape]="'action'"></app-non-event-button>
	<app-non-event-button [button]="_buyOcean" [shape]="'action'"></app-non-event-button>
</div>
