:host ::ng-deep * {
    vertical-align: top;
	display: inline;
    word-wrap: break-word;
}
.wrapper-text-with-image ::ng-deep .wrapper-megacredit{
    position: relative;
	height: 100%;
    & p {
        position: absolute;
        left: 0;
		top: 0;
		min-width: 100%;
		width: fit-content;
		box-sizing: border-box;
    }
}
:host ::ng-deep .megacredit-text{
    color: black;
    font-weight: bold;
}
:host{
	width: 100%;
    height: 100%;
	display: flex;
}
.wrapper-text-with-image{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    max-width: 100%;
    max-height: 100%;
	height: 100%;
	width: 100%;
}
:host::ng-deep img {
	max-width: 100%;
	max-height: 100%;
	object-fit: scale-down;
}
:host::ng-deep .block-flex{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.wrapper-text-with-image::ng-deep .block-flex.default{
	width: 100%;
	height: 100%;
}
.wrapper-text-with-image::ng-deep .block-flex.cardEffectSummary{
	width: 100%;
	&.small{
		height: var(--twi-effect-summary-image-height--small);
	}
	&.medium{
		height: var(--twi-effect-summary-image-height--medium);
	}
	& > .wrapper-megacredit{
		position: relative;
		text-align: center;
		& > p {
			&.small{
				left: var(--twi-megacredit-text-offset-left--small);
				top: var(--twi-megacredit-text-offset-top--small);
				font-size: var(--twi-megacredit-text-size--small);
			}
			&.medium{
				left: var(--twi-megacredit-text-offset-left--medium);
				top: var(--twi-megacredit-text-offset-top--medium);
				font-size: var(--twi-megacredit-text-size--medium);
			}
		}
	}
}
.wrapper-text-with-image::ng-deep .block-flex.cardVpText{
	display: flex;
	align-items: center;
	height: fit-content;
	width: 100%;
	& p {
		&.small{
			font-size: var(--twi-vp-text-size--small);
		}
		&.medium{
			font-size: var(--twi-vp-text-size--medium);
		}
		padding: 0;
		color: black;
		padding-right: 3px;
	}
	& img{
		&.small{
			height: var(--twi-vp-text-size--small);
		}
		&.medium{
			height: var(--twi-vp-text-size--medium);
		}
	}
}
.wrapper-text-with-image::ng-deep .block-flex.cardTextAndIcon{
	height: fit-content;
	width: 100%;
	& img{
		&.small{
			height: var(--twi-effect-text-image-height--small);
		}
		&.medium{
			height: var(--twi-effect-text-image-height--medium);
		}
	}
}
.wrapper-text-with-image::ng-deep .block-flex.cardPrerequisite{
	height: fit-content;
	width: 100%;
	& img{
		height: var(--twi-prerequisite-summary-text-image-height--medium);
	}
}
.wrapper-text-with-image::ng-deep .block-flex.commandButton{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	& p {
		font-size: 20px;
	}
	& img{
		height: 45%;
	}
}
.wrapper-text-with-image::ng-deep .block-flex.commandButtonSmall{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	& p {
		font-size: 14px;
	}
	& img{
		height: 45%;
	}
}
.wrapper-text-with-image::ng-deep .block-flex.convertButton{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
	width: 100%;
	& img{
		height: 75%;
		aspect-ratio: 1;
	}
	& p{
		font-size: 15px;
		color: black;
		font-weight: 600;
		padding: 1px;
	}
	& > .wrapper-megacredit{
		height: 75%;
		aspect-ratio: 1;
		& > p {
			padding-top: 3px;
			font-size: 13px;
			font-weight: 600;
		}
		& > img {
			height: 100%;
			aspect-ratio: 1;
		}
	}
}
.wrapper-text-with-image::ng-deep .block-flex.builderButton{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80%;
	width: 100%;
	& img{
		height: 90%;
		aspect-ratio: 1;
	}
	& p{
		padding: 1px;
		&.small{
			font-size: calc(var(--card-text-size--small) * 1.2);
		}
		&.medium{
			font-size: calc(var(--card-text-size--medium) * 1.2);
		}
	}
	& > .wrapper-megacredit{
		height: 90%;
		aspect-ratio: 1;
		& > p {
			padding-top: 0px;
			font-weight: 600;
			&.small{
				padding-top: 2px;
				font-size: calc(var(--card-text-size--small) * 1.1);
			}
			&.medium{
				padding-top: 2px;
				font-size: calc(var(--card-text-size--medium) * 1.1);
			}
		}
		& > img {
			height: 100%;
			aspect-ratio: 1;
		}
	}
}
.wrapper-text-with-image::ng-deep .block-flex.activateCardButton{
	&.small{
		height: var(--twi-activate-image-height--small);
	}
	&.medium{
		height: var(--twi-activate-image-height--medium);
	}
}
.wrapper-text-with-image::ng-deep .block-flex.portalButton{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35%;
	width: 100%;
	& img{
		height: 100%;
	}
}
.wrapper-text-with-image::ng-deep .block-flex.wildButton{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	& img{
		height: 55%;
	}
}
.wrapper-text-with-image::ng-deep .block-flex.award{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	& p{
		color: white;
		font-size: 15px;
	}
	& img {
		max-height: 85%;
		max-width: 85%;
		aspect-ratio: 1;
	}
	& > .wrapper-megacredit{
		height: 50%;
		aspect-ratio: 1;
		& > p {
			padding-top: 1px;
			padding-left: 2px;
			font-size: 10px;
			color: black;
		}
	}
}
.wrapper-text-with-image::ng-deep .block-flex.milestoneAwardHelper{
	display: block;
	text-align: center;
	flex-wrap: wrap;
	height: fit-content;
	max-height: 90%;
	max-width: 90%;
	width: fit-content;
	gap: 0px;
	& p{
		margin: 0;
		padding: 0;
		color: white;
		font-size: 10px;
		display: inline-block;
	}
	& img {
		max-height: 14px;
		aspect-ratio: 1;
		padding-left: 2px;
		padding-right: 2px;
		display: inline-block;
	}
}
.wrapper-text-with-image::ng-deep .block-flex.milestone{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	height: 100%;
	width: 100%;
	& p{
		color: white;
		font-size: 15px;
	}
}
.wrapper-text-with-image::ng-deep .block-flex.milestoneClaimed{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	height: 100%;
	width: 100%;
	& p{
		color: lightgrey;
		font-size: 15px;
	}
}
.wrapper-text-with-image::ng-deep .wrapper-production{
	position: relative;
	display: inline-block;
	height: 100%;
	aspect-ratio: 1;
	border-radius: 5px;
	border-radius: 2px;

	& > .production-bar{
		background-size: 10px 80px;
		position: absolute;
		bottom: 0;
		display: block;
		height: 30%;
		width: 100%;
		border-radius: 10px;
	}

	& > .production-text{
		position: relative;
		z-index: 2;
		color: var(--color-ares-orange);
		color: white;
	}
}
.wrapper-text-with-image::ng-deep .block-flex.convertResource{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	height: 100%;
	width: 100%;
	& p{
		font-size: 15px;
	}
	& > .wrapper-megacredit{
		& > p {
			padding-top: 5px;
			text-align: center;
			width: 100%;
			font-size: 15px;
		}
	}
}
