:host{
    width: 100%;

	height: fit-content;
    display: flex;
	align-items: end;
	flex-direction: row;
}
.wrapper-main{
	width: 100%;
	display: flex;
	justify-content: right;
}
.wrapper-vp-text{
	flex: 1;

    display: flex;
    align-items: center;
    justify-content: right;

	margin-right: 5px;
	border: white solid 1px;
}
.wrapper-vp-icon{
	position: relative;
	height: calc(var(--card-height) * .14);
	padding-right: 3px;

    display: flex;
    align-items: center;
    justify-content: left;
}
app-vp{
    position: relative;
    z-index: 1;
    height: 90%;
}
.wrapper-vp-background{
    z-index: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;

    padding-left: 12%;
}
.layout-vp-right{
    width: 60%;
}
.layout-vp-left{
    width: 10%;
}
.layout-vp-right, .layout-vp-left{
    z-index: 0;
    position: relative;
    top: 0px;
    height: 90%;
    border: transparent 0px solid;
    outline: white 1px solid;
    outline-offset: 2px;
    background-color: rgba($color: grey, $alpha: .7);
}
