<div class="wrapper-main">
	<div class="wrapper-vp-icon" [class.big]="isMultiline()">
		<app-vp [vpNumber]="vpNumber" [class.big]="isMultiline()"></app-vp>
		<div *ngIf="vpDescription" class="wrapper-vp-text">
			<div class="wrapper-text">
				<app-text-with-image [rawText]="vpDescription" [cardSize]="cardSize" [context]="'cardVpText'"></app-text-with-image>
			</div>
		</div>
		<div class="wrapper-vp-background">
			<div class="layout-vp-left">
				<div class="inner-background"></div>
			</div>
			<div class="layout-vp-right">
				<div [ngClass]="['inner-background']"></div>
			</div>
		</div>
	</div>
</div>
