:host{
    width: 100%;

	height: fit-content;
    display: flex;
	align-items: end;
	flex-direction: row;
}
.wrapper-main{
	width: 100%;
	display: flex;
	justify-content: right;
	//gap: var(--card-element-padding);
}
.wrapper-vp-text{
	flex: 1;

    display: flex;
    align-items: center;
    justify-content: right;

	margin-right: var(--card-element-padding);
	border: white solid 1px;
}
.wrapper-vp-icon{
	position: relative;
	height: calc(var(--card-height) * .14);
	padding-right: 3px;

    display: flex;
    align-items: center;
    justify-content: left;
}
.wrapper-vp-background{
    z-index: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;

    padding-left: 3px;
}
.layout-vp-right{
    width: 65%;
}
.layout-vp-left{
    width: 20%;
}
.layout-vp-right, .layout-vp-left{
    z-index: 0;
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    top: 0px;
    height: calc(100%);
    border: white 1px solid;
}
.inner-background{
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background-color: rgba(255, 255, 255, 0.7);
}
app-vp{
    position: relative;
    z-index: 1;
    height: 85%;
}
