<div *ngIf="effectSummaryType" class="wrapper-effect-summary">
	<div class="wrapper-effect-summary-border">
		<div class="effect-summary-top-shape"></div>
		<div class="effect-summary-bottom-shape"></div>
		<div class="wrapper-inner">
			<div [ngClass]="['effect-summary-foreground-radial-white', effectSummaryType]" *ngIf="effectSummaryType==='action' || effectSummaryType==='trigger'"></div>
			<div [ngClass]="['effect-summary-background-radial-grid', effectSummaryType]" *ngIf="effectSummaryType==='action' || effectSummaryType==='trigger'"></div>
			<div [ngClass]="'effect-summary-background--' + effectSummaryType | lowercase"></div>
			<div class="effect-summary-text">
				<app-text-with-image *ngIf="effectSummaryText" [rawText]="effectSummaryText"></app-text-with-image>
			</div>
		</div>
	</div>
</div>
<div *ngIf="effectText"
	[ngClass]="['wrapper-effect-text', 'shadowed-text', effectSummaryType??'']" >
	<app-text-with-image [rawText]="effectText"></app-text-with-image>
</div>
