:host{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100%;
	height: fit-content;
	width: 100%;
}
.wrapper-main{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: fit-content;
	width: 100%;
	min-height: 95%;
}
h1{
	padding: .5%;
	padding-left: 20%;
	padding-right: 20%;
	font-size: 200%;
	text-align: center;
	width: fit-content;
	margin-bottom: 10px;
	&.ares-title{
		margin-top: 50px;
		margin-bottom: 30px;
	}
}
.wrapper-inner{
	position: relative;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px 0px;
	width: 80%;
	height: 100%;
}
.wrapper-button{
	height: 60px;
	&::ng-deep button {
		font-size: 150%;
	}
	@media (max-width:1919px) {
		height: 80px;
	}
}
.wrapper-menu{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 550px;
	padding: 10px;
	margin: 10px;
}
.wrapper-player-creation-menu{
	display: flex;
	flex-direction: column;
	justify-content: start;
	height: fit-content;
}
.wrapper-other-options{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.horizontal-separator{
	width: 5px;
	height: 100%;
	background-color: var(--color-ares-orange);
}
.wrapper-number-selection{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: fit-content;
	width: 100%;
}
p{
	font-weight: bold;
	text-decoration: underline;
	padding: 10px;
}
.wrapper-error{
	padding: 10px;
	&--hidden{
		opacity: 0;
	}
	&.visible{
		opacity:1
	}
	& > p {
		text-decoration: none;
		padding-bottom: 0;
	}
}
