:host{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	height: 100%;
}
app-non-event-button{
	height: 50px;
	width: fit-content;
}
.wrapper-button{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	height: fit-content;
	width: fit-content;
	padding: 10px;
}
.disabled{
	filter: grayscale(90%);
}
