<div class="wrapper-main">
	<ng-container
		*ngIf="event.subType==='selectStartingHand'">
		<app-playable-card-list-wrapper
		[listBehavior]="'selector'">
		</app-playable-card-list-wrapper>
		<div class="ares-title">
			<h1>{{'eventInitialDraftThenCorp' | eventTitleKeyPipe}}</h1>
		</div>
		<app-playable-card-list
			[cardList]="_playerHandCorporation"
			(updateSelectedCardList)="onUpdateSelectedCardList($event)">
		</app-playable-card-list>
	</ng-container>
	<ng-container
		*ngIf="event.subType==='selectCorporation' || event.subType==='selectMerger'">
		<app-playable-card-list-wrapper
		[listBehavior]="'selector'">
		</app-playable-card-list-wrapper>
	</ng-container>
</div>
