<div class="wrapper-main">
	<ng-container
		*ngIf="event.subType==='selectStartingHand'">
		<app-playable-card-list
			[event]="event"
			[eventId]="event.id"
			[listType]="'selector'"
			[listSubType]="'recycleStartingProject'"
			(updateSelectedCardList)="onUpdateSelectedCardList($event)">
		</app-playable-card-list>
		<div class="ares-title">
			<h1>Then select corporation</h1>
		</div>
		<app-playable-card-list
			[cardList]="_playerHandCorporation"
			(updateSelectedCardList)="onUpdateSelectedCardList($event)">
		</app-playable-card-list>
	</ng-container>
	<ng-container
		*ngIf="event.subType==='selectCorporation'">
		<app-playable-card-list #cardListSelector
			[event]="event"
			[listType]="'selector'"
			[listSubType]="'selectCorporation'"
			(updateSelectedCardList)="onUpdateSelectedCardList($event)">
		</app-playable-card-list>
	</ng-container>
</div>
